[2017-07-20 22:08] XhmikosR commented on #861
Where do you want to place it in the layout?

[2017-07-20 22:09] jdorfman commented on #861
@XhmikosR not sure yet. I need to talk to James first before _anything_ starts. I'll let you know after we chat.

[2017-07-20 22:21] piamancini commented on #861
hey! regarding placement, if it's helpful for the conversation: carbon ads sent this suggestion for bootstrapcdn.com - https://s.codepen.io/carbonads/debug/EXBdGO
with this css https://codepen.io/carbonads/pen/EXBdGO
hope it helps!

[2017-07-21 16:32] jmervine commented on #861
I'm cool with that placement, I might want to add a little padding to the top to drop it down a bit. Something like:

<img width="1568" alt="ss" src="https://user-images.githubusercontent.com/837893/28472918-70487696-6df7-11e7-8e58-eb9df51980dc.png">

That said, I'll leave it up to @jdorfman, as I don't feel that strongly about it. ;)

[2017-07-21 16:37] XhmikosR commented on #861
If someone makes a PR I will definitely be able to have a look. I feel like the new div should be inside the row in a separate column.

Also, I suppose you know that where you placed it, the ad will only be visible on large screens.

[2017-07-21 16:40] XhmikosR commented on #861
The carbonads script should be in the footer too. Also, I wonder, isn't it possible to use a class to target the div instead of an ID? My guess would be it's possible because since IDs are unique, you won't be able to target many ads in the same page.

[2017-07-21 16:41] jdorfman commented on #861
I have a call with James at StackPath this afternoon. I will update this issues asap.

[2017-07-21 16:43] XhmikosR commented on #861
So, ideally if we are not going to show the ads on small screens, I'd go with a pure JS solution which would skip even loading the script. Should be pretty easy to implement. My main concern is to handle the `resize` event but we can discuss this in detail when we have a PR.

[2017-07-21 16:53] XhmikosR commented on #861
About the ID comment I made above, I read [here](https://www.evernote.com/shard/s456/sh/62b7c21b-fd20-46f7-84ec-80f9b5a0892e/81cfa6e35a6cbc6c6f9af47c19d874a7) that it requires only one ad per page hence the ID usage.

[2017-07-21 17:01] XhmikosR commented on #861
Since I don't have access to the dashboard and I don't have any Carbon Ads account myself, I can only assume that the script's position is what their dashboard gives you by default. Now, I can't believe one isn't able to customize this, so my guess is we'll need to go the other way with placing a `div` with an `id` and loading the scripts ourselves, similarly to what we do with the Twitterdeck scr

[2017-07-21 17:32] piamancini commented on #861
They provide this [style guide]( https://www.evernote.com/shard/s456/sh/62b7c21b-fd20-46f7-84ec-80f9b5a0892e/81cfa6e35a6cbc6c6f9af47c19d874a7)

and the dashboard also says:
Ad Code Style Guide
We want Carbon Ads to integrate seamlessly into your website. Ads should be displayed above the fold (top 800 pixels) on all pages of your site. Here's what the final markup will look like for the ads:

http

[2017-07-21 21:44] jdorfman commented on #861
Just talked to James and got the ok. @piamancini I will continue this via email.

[2017-07-25 18:08] jdorfman commented on #861
@XhmikosR do you want me to make a separate issue for this?

[2017-07-25 18:14] XhmikosR commented on #861
Separate issue, no, a pull request would be nice to have in order to get
things started :)

On Jul 25, 2017 21:13, "Justin Dorfman" <notifications@github.com> wrote:

[2017-07-27 05:09] XhmikosR commented on #861
Everyone interested: please check the current branch https://bootstrapcdn-dev-pr-862.herokuapp.com/

1. I can't find any info how to initialize carbonads manually with a plain `document.createElement` way. If anyone has info on this let me know
2. I'm still seeing CSP errors randomly so I'm not sure if carbonads follow a scheme for their resources which we could whitelist further. So this means so

[2017-07-27 05:27] jdorfman commented on #861
I'll have more feedback tomorrow but the modal looks great on mobile. https://photos.app.goo.gl/mmYAg0kJ0aOaNumA3

Good point about privacy policy. I'll look into that asap.

Thanks!

[2017-07-27 05:30] XhmikosR commented on #861
An alternative way would be to use a popover.

[2017-07-27 06:31] XhmikosR commented on #861
I switched to a popover. Let me know which one you all prefer.

[2017-07-27 16:19] piamancini commented on #861
@XhmikosR from the carbon team on the ID comment reference:

You can use the JavaScript to skip loading the ad on the mobile.
Something like this should suffice:
[code]

[2017-07-27 16:22] sayzlim commented on #861
@XhmikosR, I’m from Carbon Ads. The ad on mobile is optional. You can skip loading the ad with a JavaScript. Something like this should suffice:

[code]

---

You can fix the CSP errors by whitelisting the following domains:

[code]

These image pixels are used by quality advertisers like Slack, Microsoft, and Squarespace to have a unified report across all the ad platforms they run. Their purpose

[2017-07-27 17:03] jdorfman commented on #861
@sayzlim thanks for the help! I want to start at the bottom and adjust if needed. I do want the ad to perform well, I just feel more comfortable starting in the current position for now.

[2017-07-27 18:12] jdorfman commented on #861
@sayzlim any ideas regarding the privacy policy?

[2017-07-27 18:15] sayzlim commented on #861
@jdorfman I’ll discuss this with the team. Will keep you updated soon.

[2017-07-27 18:43] sayzlim commented on #861
@jdorfman you should be able to use our copy of privacy policy at https://carbonads.net/privacy.php. Check the details and remove anything that doesn’t apply to your site usage. Some publishers choose to create a basic privacy policy with generator at http://getterms.io/

[2017-07-27 23:44] jdorfman commented on #861
@sayzlim that is perfect!

@XhmikosR I will work on the markdown formatting and make another PR. We will just link to the markdown file on github from bootstrapcdn.com.

https://gist.github.com/jdorfman/4efa9f1d6a856cb99f96e01d23182af5

[2017-07-28 06:34] XhmikosR commented on #861
@sayzlim: unfortunately, I still see CSP errors. I see resources from more origins than the ones you mentioned above like `s0.2mdn.net` and `ad.doubleclick.net`. No idea if they are more and we can't do this all the time; we need a clear source of origins we can whitelist.

[2017-07-28 06:36] jdorfman commented on #861
@XhmikosR where are you seeing the errors? The console is clean on https://bootstrapcdn-dev-pr-862.herokuapp.com/

![image](https://user-images.githubusercontent.com/398230/28705402-72777df4-7324-11e7-8d0c-98d4cd7feb6d.png)

[2017-07-28 06:45] XhmikosR commented on #861
You are looking at one time ads @jdorfman. I test locally and ads change hence I'm able to see the errors. I can also see the reports in report-uri.io.

[2017-07-28 06:46] jdorfman commented on #861
@XhmikosR can you share the report-uri.io report for @sayzlim please

[2017-07-28 06:54] XhmikosR commented on #861
Nope, it would be useless because there are many other results that would confuse him.

I even see a script attempt to `http://adn.fusionads.net/launchbit/9533/developers/...`.

[2017-07-28 06:57] jdorfman commented on #861
@XhmikosR check slack

[2017-07-28 07:06] XhmikosR commented on #861
My main concern is the script source. I definitely won't whitelist `adn.fusionads.net` unless we have a clear explanation why carbonads script even tries to load that.

Note that this is not just me being anal; this is security and the power of CSP. :)

[2017-07-28 07:08] XhmikosR commented on #861
My current CSP changes are https://github.com/MaxCDN/bootstrap-cdn/pull/862/commits/09a50d579d1701e55e745b7d415ec0a434c7c23a The top ones are the script ones, down the images.

[2017-07-28 07:08] jdorfman commented on #861
Fusion = Carbon = BuySellAds

[code]

BSA = BuySellAds which owns both entities.

[2017-07-28 07:14] XhmikosR commented on #861
Thanks.

Still, the CSP errors continue. It's pretty clear that the sources @sayzlim mentioned above are very incomplete. And I wonder if all this makes any sense. If a new ad is added, it could still break. We can't keep doing this. There must be a clear list of sources one can whitelist for images in order for the ads to work.

[2017-07-28 07:26] #861 closed

[2017-07-28 07:41] XhmikosR opened #864 "Add privacy policy page"
/CC @jdorfman

[2017-07-28 16:29] sayzlim commented on #861
@XhmikosR so far we haven’t seen any domains that need to be whitelisted except the one you added in the referenced commit. Only few advertisers will insert the image pixel, and most of them are using the one you added before. Thanks for pushing the ad live! @jdorfman

[2017-07-28 16:34] XhmikosR commented on #861
@sayzlim: the final list is this: https://github.com/MaxCDN/bootstrap-cdn/commit/91818dbc160527cfac5b815214b453e3d59489fe

Pretty inconsistent IMO.

[2017-07-28 16:57] jdorfman commented on #864
Once James comes back from Black Hat I will work with him on this. The tricky thing here is there is `www` and `cdn` which need to be treated separately.

Back in January of 2016 a concerned user emailed MaxCDN support asking about BootstrapCDN's privacy policy. After a few back and forths, we came up with the following (that he then posted on his website):

I tried to hire him to write our ToS an

[2017-08-11 08:35] XhmikosR opened #866 "Host popper.js for v4?"

[2017-08-11 13:52] mrlife commented on #537
Does Bootstrap 4 need this, as well? Thanks for your help!

[2017-08-12 02:27] jdorfman commented on #866
Great call. My first pick would have been http://www.jsdelivr.com/projects/popper.js (opposed to CDNJS) but hosted on us would make more sense in this context.

@XhmikosR you think Mark would care?

[2017-08-12 14:57] jimaek commented on #866
In case you change your mind :)

@jsdelivrbot npm popper.js

[2017-08-12 18:08] jmervine commented on #866
I'd personally prefer to stay lean and only focus on the core, perhaps linking to common plugins. That said, I'll leave that decision to you @jdorfman, and support whatever you decide.

[2017-08-12 18:16] jdorfman commented on #866
@jmervine I agree, although I want to promote MaxCDN/StackPath's network, not their competitors. While jsDelivr/@jimaek load balances multiple CDN's, they promote StackPath which makes me more comfortable advocating them. First things first, we need to get #865 out. Plane is delayed so I am working on it now. =)

[2017-08-12 18:44] XhmikosR opened #867 "Remove twitter from boostrap path"
At least for v4. Personally I'd remove it from everywhere but I'm not familiar how things work with S3.

/CC @jmervine @jdorfman

[2017-08-13 15:15] jmervine commented on #867
@jdorfman can we check the cdn and see if anyone is even hitting that?

[2017-08-16 14:04] Herst commented on #846
Now it's the beta.

[2017-08-16 14:08] XhmikosR commented on #846
This issue is for Bootlint, not Bootstrap. Bootlint doesn't work with v4 yet.

[2017-09-05 22:47] Herst commented on #846
@XhmikosR But the title said _"BS4-alpha"_, also @jdorfman talked about _"when BS4 is out of alpha"._

[2017-10-04 15:37] jdorfman opened #869 "Remove Snyk Badge from README"
There is a [node package](https://www.npmjs.com/package/shelljs) that we depend on for dev that doesn't have a fix making the badge show:

![image](https://user-images.githubusercontent.com/398230/31184645-d4e81bd4-a8de-11e7-8da7-9eee9c5b5e48.png)

This might alarm those who don't have our knowledge on the issue:

![image](https://user-images.githubusercontent.com/398230/31184769-2e725a8e-a8df-11e

[2017-10-04 15:40] jdorfman opened #870 "Update SSL cert"
The cert for `www` expires Oct 13 2017. Action Items:

- [ ] Buy new cert @jdorfman
- [ ] Upload it to  Heroku @jmervine
- [ ] Consult Alex @ StackPath once complete

[2017-10-04 15:45] jmervine commented on #869
👍🏽

[2017-10-04 15:46] jmervine commented on #870
@jdorfman Pretty sure we can do this through Heroku now for free. Let me do some digging today and I'll update this issue with my findings.

[2017-10-04 15:56] jdorfman commented on #870
You rock

[2017-10-04 16:01] alexmatic commented on #870
@jmervine  let me know if you need anyhting from my end.

[2017-10-04 16:10] jdorfman commented on #870
cc @alexmatic

[2017-10-04 16:12] jmervine commented on #870
@alexmatic We're going to need to update CNAMEs to get ACM working, see https://devcenter.heroku.com/articles/automated-certificate-management. I'll ping you slack.

[2017-10-04 16:29] #869 closed

[2017-10-04 16:29] XhmikosR commented on #869
It's your call, guys, I don't really have an opinion :)

[2017-10-05 17:00] jdorfman commented on #870
Thanks @jmervine

![image](https://user-images.githubusercontent.com/398230/31240018-f99852c0-a9b3-11e7-8d9d-182b15e4b690.png)

Going to close this out.

[2017-10-05 17:00] #870 closed

[2017-10-14 10:30] XhmikosR opened #873 "CSP: Look into `strict-dynamic`"
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/script-src#strict-dynamic

[2017-10-14 10:37] XhmikosR commented on #700
@jmervine @jdorfman: so, what do we do with this?

[2017-10-14 10:38] XhmikosR commented on #696
Closing this since it's not so much of an improvement. We can revisit later.

[2017-10-14 10:38] #696 closed

[2017-10-14 12:10] ScottHelme commented on #700
Are you ready to preload? :)

[2017-10-14 14:16] XhmikosR commented on #700
Well, I am but I'm not in control of the www domain myself :)

We really need to solve this once and for all and just comply with the
requirements.

On Oct 14, 2017 15:10, "Scott Helme" <notifications@github.com> wrote:

[2017-10-15 02:03] XhmikosR commented on #867
Any news about this?

[2017-10-15 03:23] jmervine commented on #867
@jdorfman ^^

[2017-10-15 05:09] jdorfman commented on #867
We don't need to advertise it, but not going to remove it. Even if it is 1 hit a year, I still want that legacy use case to work.

[2017-10-15 05:09] #867 closed

[2017-10-15 11:28] XhmikosR commented on #867
And why can't you redirect the old path?

[2017-10-18 00:17] XhmikosR commented on #854
I think we can close this. It's something browsers do and not related to us.

[2017-10-18 00:17] #854 closed

[2017-10-18 22:40] jdorfman commented on #867
S3 doesn't support symlinks. They do have a hack but it makes the http request 301 which is unacceptable.

https://stackoverflow.com/a/29462540/1258484

[2017-10-18 22:43] jdorfman commented on #731
Still not supported: https://devcenter.heroku.com/articles/http-routing#not-supported

When it is supported, it will be on the front page of HN and we will enable it. For now, closing

[2017-10-18 22:44] #846 closed

[2017-10-18 22:46] jdorfman commented on #778
@petarpetrovic any interest? If not I'll close it.

[2017-10-19 11:08] petarpetrovic commented on #778
@jdorfman I've started working on this a couple of months ago but had to make a month long hiatus because stuff, but anyway, this shouldn't be closed for the time being.

[2017-10-19 14:57] jdorfman commented on #778
@petarpetrovic I feel you. If you want to take another stab, just let me know. No pressure either way.

[2017-10-19 14:57] #778 closed

[2017-10-20 05:58] petarpetrovic commented on #778
@jdorfman I'll continue working on this in a few days for sure, no worries.

[2017-10-20 14:01] jdorfman commented on #867
@jmervine can we just adjust the tests to ignore `https://maxcdn.bootstrapcdn.com/twitter-bootstrap/*` starting at `4.0.0-beta.*` please?

[2017-10-20 14:35] jdorfman opened #877 "Stop testing twitter-bootstrap uri after 2.3.2"
Anything after `2.3.2` should not be tested with `twitter-bootstrap` in the url

e.g.: https://maxcdn.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css

This will speed up test as well as taking care of #867

[2017-10-24 19:03] phillipremaker commented on #533
It's 2017 and still no IPv6. What's the progress and schedule?

[2017-11-22 15:42] jdorfman commented on #877
@jmervine is this hard to do?

[2017-11-22 15:44] jdorfman opened #881 "Add new bootswatch themes"
Now [supports Beta-4](https://bootswatch.com/)

Request: https://twitter.com/intranix/status/929013966289940480

[2017-11-22 15:46] jdorfman commented on #881
Todo: create issue to upgrade to `4-beta` and Bootswatch theme on `www`

[2017-11-22 17:08] jmervine commented on #881
<img width="1273" alt="screen shot 2017-11-22 at 9 08 12 am" src="https://user-images.githubusercontent.com/837893/33140392-b277e5fa-cf64-11e7-8e3e-c391d6f34be8.png">

@jdorfman Thinking something like this for the header.

[2017-11-22 17:09] jmervine commented on #881
<img width="1333" alt="screen shot 2017-11-22 at 9 09 44 am" src="https://user-images.githubusercontent.com/837893/33140464-e676e69e-cf64-11e7-9a72-468b1a9f1780.png">

Or this....

[2017-11-22 18:30] jdorfman commented on #881
Thinking:
[code]

Also synced S3

[2017-11-22 18:53] jdorfman commented on #881
@jmervine check 86e7da8499cd3f1ea0eaa99678a1aa6804032b3a

[2017-11-22 19:50] jmervine commented on #877
Probably not, I'll look in to it real quick.

[2017-11-25 16:02] jdorfman commented on #786
unpkg.com is hosting it which is better since the Bootstrap Material Design team doesn't have to wait for us to upload it.

![image](https://user-images.githubusercontent.com/398230/33232206-aedf73aa-d1b6-11e7-8896-9912384344ef.png)

[2017-11-25 16:02] #786 closed

[2017-11-25 16:04] jdorfman commented on #556
Since I no longer work for MaxCDN/StackPath I don't have insight into their roadmap. I also have little to no influence on features.

[2017-11-25 16:04] #556 closed

[2017-11-25 16:05] jdorfman commented on #644
Closing for now. If we want to pick this up, reopen.

[2017-11-25 16:05] #644 closed

[2017-11-25 16:05] #667 closed

[2017-11-25 16:06] jdorfman commented on #693
Reopen if needed.

[2017-11-25 16:06] #693 closed

[2017-11-25 16:16] jdorfman commented on #700
@XhmikosR @ScottHelme @jmervine on the fence. I see this _**possibly**_ affecting SEO which might seem silly, it really isn't because I don't personally pay the bills, in fact, I would be broke beyond belief. I also don't want to bug StackPath to hire an SEO consultant. Bottom line, _at this time_, the trade-off isn't worth it to me.

![image](https://user-images.githubusercontent.com/398230/33232

[2017-11-25 16:17] jdorfman commented on #705
Reopen if needed

[2017-11-25 16:17] #705 closed

[2017-11-25 16:18] XhmikosR commented on #700
This is just wrong. How on earth do you think it affects SEO?

[2017-11-25 16:18] #873 closed

[2017-11-25 16:25] jdorfman commented on #700
Everything is indexed and linked to `www.*` If we redirect properly should be fine, if not we lose search rank. I have experienced this in the past, to me I don't think it is worth the risk. If I was paying the bills sure, but I'm not. SEO is an important business value which funds the $30k+ a month needed to sustain this project. Not risking it for HSTS on `www`.

Willing to revisit this in the f

[2017-11-25 16:27] XhmikosR commented on #700
Again, you do NOT need to change the redirect.

Please don't close this and be serious with security for once.

[2017-11-25 16:27] jdorfman commented on #738
@XhmikosR

`<meta name="description" content="The recommended CDN for Bootstrap, Font Awesome and Bootswatch.">`

[2017-11-25 16:28] XhmikosR commented on #738
How is that unique per page?

[2017-11-25 16:29] jdorfman commented on #738
ah, good point. I'll make a PR for this after I clean up the other issues.

[2017-11-25 16:29] #881 closed

[2017-11-25 16:29] #877 closed

[2017-11-25 16:31] jdorfman commented on #866
Staying lean. TY @jmervine

[2017-11-25 16:31] #866 closed

[2017-11-25 16:33] ScottHelme commented on #700
Maybe I can provide input, I just want to make sure I understand the situation properly.

Using HSTS (with or without preloading) would only have an impact on http:// -> https:// redirects in that they'd never take place as a compliant client would simply not make the http:// request in the first instance. If you're already redirecting http:// -> https:// then there's really no difference in deplo

[2017-11-25 16:41] XhmikosR commented on #700
The problem here is that for some unknown reason to me, due to the way things have been set up, the naked domain isn't on the same server as the www domain. Thus we can't do the `http://bootstrapcdn.com/ --> https://www.bootstrapcdn.com/` redirect here.

Now, the HSTS site's error, not sure why it happens, it might be this issue or it's a bug somewhere.

At any case, HSTS should be enabled. I can'

[2017-11-25 16:42] XhmikosR commented on #700
So basically, the redirect chain currently is:

[code]

[2017-11-25 16:51] ScottHelme commented on #700
OK so you jump from `http://bootstrapcdn.com/` straight to `https://www.bootstrapcdn.com/` in one redirect. If you want an ideal deployment of the HSTS header in the longer term I'd recommend:

    http://bootstrapcdn.com --> https://bootstrapcdn.com -->https://www.bootstrapcdn.com

You'd set HSTS on the 2nd redirect with includeSubDomains to catch all subdomains.

But anyway, I digress, even in t

[2017-11-25 16:53] XhmikosR commented on #700
It's the same technical reasons that this fails as far as I know.

Everything would be much simpler if we handled all redirects ourselves on one host.

[2017-11-25 16:57] jdorfman commented on #738
@XhmikosR can you help with getting the `desc` values in the `pug` templates?

[2017-11-25 16:59] ScottHelme commented on #700
Redirects and splitting across hosts aside right now, that's a pretty big issue. You aren't answering for your bare domain on https:// at all as far as I can see. You really need to fix that and it's a blocker for preloading too.

[2017-11-25 17:01] XhmikosR commented on #738
Without having tried it. try passomg the descriptions similarly to the title here https://github.com/MaxCDN/bootstrap-cdn/blob/develop/routes/index.js#L45-L129

[2017-11-25 17:02] jdorfman commented on #738
yikes, on it

[2017-11-25 17:06] XhmikosR commented on #700
Unfortunately, it's not something I'm in control of, otherwise the issue wouldn't exist...

Previously it worked with random tools/services being used to make the redirect IIRC. And it was dropped because if I remember correctly, "Who visits the non-www site?". Not my action either.

[2017-11-25 17:40] jdorfman commented on #738
@XhmikosR [passed](https://travis-ci.org/MaxCDN/bootstrap-cdn/builds/307197337)

Can you help with the template?

[2017-11-25 17:46] jdorfman commented on #864
I'm thinking just linking to this: https://www.stackpath.com/privacy-statement/

Thoughts @XhmikosR @jmervine

[2017-11-25 22:51] #738 closed

[2017-11-27 15:32] jdorfman opened #888 "Disable Query String (Treat as separate cacheable item) option in MaxCDN"
Last month our cache hit percentage was `99.57% (68,789,568,942)`

Making our non-cache hits `0.43%` or `297,179,793` requests going back to S3.

![image](https://user-images.githubusercontent.com/398230/33274437-e9fc05b8-d344-11e7-8710-fb6111a3f1b3.png)

This will prevent requests like this going back to S3:
`GET /bootstrap-cdn/public/font-awesome/4.7.0/css/font-awesome.min.css?refresh=226?refres

[2017-11-27 15:46] petarpetrovic commented on #888
I confirm the change didn't affect the CDN delivery on any edge location. The assets have been cached successfully after the purge.

[2017-11-27 17:06] jdorfman commented on #888
Twitter looks good

[2017-11-27 17:14] jmervine commented on #864
I don't have a strong opinion, I'll leave that you to and James.

[2017-11-28 07:21] XhmikosR commented on #864
I don't have a preference either as long as it covers our use case (Google Analytics, Carbonads); no need to stuff that doesn't apply here.

[2017-11-28 18:17] jdorfman commented on #864
Footer or Resources drop down?

![cloudapp annotation 2017-11-28 at 10 15 58 am png](https://user-images.githubusercontent.com/398230/33336597-4ad5ddc4-d425-11e7-9480-ec3bb83b9ca0.png)

[2017-11-28 19:47] jmervine commented on #864
I'd probably say footer, but not with it's current design. We'd need to move things around first. Maybe...

[code]

or something of the like.

That said, totally your call IMO.

[2017-11-29 16:56] jdorfman commented on #888
We still need more data but so far it is looking good:

![image](https://user-images.githubusercontent.com/398230/33387721-e03e4dfc-d4e2-11e7-924e-dbba06308ab0.png)

Comparing Yesterday (Tue. 11-28-2017) to last Tue (11-21-2017) there is a `90.78%` decrease in cost.

[2017-11-30 21:15] jdorfman commented on #731
Reopening this issue after receiving an email from a user. Going forward we will only be talking about H/2 for `cdn` (not `www`).

[2017-11-30 21:37] XhmikosR commented on #731
The CDN files are already being served with http/2.

[2017-11-30 21:39] jdorfman commented on #731
I thought they were but they aren't.

![image](https://user-images.githubusercontent.com/398230/33456301-da9b4e80-d5d3-11e7-8966-347da378115a.png)

Also checked with https://h2.nix-admin.com/#

[2017-11-30 21:41] XhmikosR commented on #731
True, I also thought they were.

[2017-11-30 21:42] jdorfman commented on #731
Monday we will enable it and watch the logs.

[2017-11-30 21:48] petarpetrovic commented on #731
CDN assets are definitely not being served over HTTP/2 right now:

`Petars-MacBook-Pro:~ ppetrovic$ curl -I https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css --http2
HTTP/1.1 200 OK
Date: Thu, 30 Nov 2017 21:46:33 GMT
Content-Type: text/css
Content-Length: 121200
Connection: keep-alive
Last-Modified: Mon, 25 Jul 2016 16:08:01 GMT
ETag: "ec3bb52a00e176a7181d454dffaea219"
Server:

[2017-11-30 21:48] XhmikosR commented on #731
Maybe they were in the past? Because I'd swear they were...

[2017-11-30 21:50] petarpetrovic commented on #731
It's possible HTTP/2 never got reactivated during the migration from the legacy MaxCDN infrastructure to StackPath. Unfortunately, I don't have sufficient information to confirm that, it's just my educated guess. Either way, it's getting reactivated soon.

[2017-11-30 21:54] XhmikosR commented on #731
Yup, I'm right.

See https://gtmetrix.com/compare/CPIKVUkX/HiaFl5nH#waterfall

[2017-11-30 22:42] jdorfman commented on #888
Looks good. Closing.

[2017-11-30 22:42] #888 closed

[2017-11-30 22:47] jdorfman commented on #864
@XhmikosR has the best design sense out of us. Whatever he thinks

[2017-11-30 22:51] XhmikosR commented on #864
If you send me the text I can put something together and ping you guys.

[2017-12-04 15:59] jdorfman commented on #731
Checklist:

- [ ] Enable (@petarpetrovic )
- [ ] Tail logs (@petarpetrovic)
- [ ] Monitor Twitter (@jdorfman)
- [ ] 🍾

[2017-12-04 16:05] jdorfman commented on #731
I always monitor Twitter so this case is closed.

[2017-12-04 16:05] #731 closed

[2017-12-11 16:18] jdorfman opened #911 "Add Font Awesome to Old Versions"
Someone pinged me and asked if we could list the older versions of Font Awesome just like we do with the others.

[2017-12-11 19:57] #911 closed

[2017-12-12 11:57] davecarlson commented on #533
AWS is IPv6 capable now - have you ensured it's enabled ?

For cloudfront, it's just a tickbox now !

<img width="715" alt="screen shot 2017-12-12 at 11 56 54" src="https://user-images.githubusercontent.com/299702/33883408-9538e64a-df33-11e7-9eda-b44530520d77.png">

[2017-12-12 17:44] jdorfman commented on #533
@davecarlson we don't use Cloudfront, StackPath is our CDN provider. No ETA when they are getting IPv6 support, but I can imagine soon since they are targeting enterprises.

[2017-12-20 08:34] XhmikosR opened #939 "Improve data tests"
So, that we catch it if it's not generated again.

[2017-12-20 17:53] jmervine commented on #939
Mind elaborating here? Do you mean `/data/bootstrapcdn.json`?

[2017-12-20 18:02] XhmikosR commented on #939
Yeah, that file.

On Dec 20, 2017 19:53, "Joshua Mervine" <notifications@github.com> wrote:

[2017-12-25 14:50] xAphex opened #943 "Update fontawesome to 5.0.2"
i was checking: https://www.bootstrapcdn.com/fontawesome/

and realized that fontawesome is on version 4.7.0, and a new version came out (5.0.2).

can you guys update it?

[2017-12-25 16:00] xAphex commented on #943
it's being worked on: https://github.com/MaxCDN/bootstrap-cdn/pull/909

closing this.

[2017-12-25 16:00] #943 closed

[2017-12-26 22:03] jdorfman commented on #864
@XhmikosR my friend owns this service: https://www.iubenda.com/en/privacy-policy-generator/

I will get a free account.

[2017-12-27 01:29] jdorfman commented on #864
@XhmikosR

**options:**

**1:**
[code]

**2:**
[code]

**3:**
[code]

**API**
[code]

https://www.iubenda.com/en/help/posts/78

Make sure to link back to `iubenda` since they hooked us up with a pro account.

[2017-12-27 01:40] jdorfman commented on #864
@jmervine did I miss services?

![image](https://user-images.githubusercontent.com/398230/34367812-c310c75a-ea63-11e7-8dde-b053bcc71339.png)

I don't think we need to add AWS since Heroku is hosted on AWS right?

[2017-12-27 16:25] jdorfman opened #944 "[Security] XSS in respond-proxy.html"
Reported on Twitter: https://twitter.com/isecator/status/945402519337013249

`http://netdna.bootstrapcdn.com/respond-proxy.html?url=javascript:alert()&css=data%3A%2C`

Suggestions on how to move forward.

[2017-12-27 16:28] XhmikosR commented on #944
I'd just remove the file and the CNAME like I told you the other day.

This  file is from html5shim.

[2017-12-27 16:48] jdorfman commented on #944
@XhmikosR but if someone is using it, it would break their site, right?

What if we just update it with `https://s.yimg.com/lm/ysbp/htmlrespond-proxy.html`?

Looks like it is fixed: https://s.yimg.com/lm/ysbp/htmlrespond-proxy.html?url=javascript:alert()&css=data%3A%2C

[2017-12-27 17:00] XhmikosR commented on #944
If one is using IE < 9, not sure this really matters...

[2017-12-27 17:34] jdorfman commented on #944
**I didn't find anything in the logs:**
![image](https://user-images.githubusercontent.com/398230/34388495-c104a3d4-eae8-11e7-9151-0fb4a1ad9ad8.png)

**At the same time, IE 8 is still being used somewhat:**
![image](https://user-images.githubusercontent.com/398230/34388399-31b4fc24-eae8-11e7-8d0a-f41a5a67d547.png)

via: https://blog.pendo.io/2016/01/14/analysis-of-browser-usermarket-share-or-so-lo

[2017-12-27 17:36] XhmikosR commented on #944
What you show above is from Oct-Dec 2015, not 2017.

[2017-12-27 17:41] XhmikosR commented on #944
https://www.w3counter.com/globalstats.php?year=2017&month=11
https://www.w3counter.com/trends

[2017-12-27 17:42] jdorfman commented on #944
I was comparing 2015 to **Past Week**

While IE 8 dropped ~15% in 2 years, it is still ~5% in 2017

[2017-12-27 17:44] XhmikosR commented on #944
Well, maybe in China. I don't see this being an issue and I'd just remove it.

**But** if you are going to replace the file, you should check with the upstream project. It doesn't make any sense for us to use custom files and stop being in sync with upstream.

[2017-12-27 17:55] jmervine commented on #944
+1 on removing it.

[2017-12-27 18:00] jmervine commented on #864
I wouldn’t mention any of this except maybe stack path, but I don’t know much about this side. 🤷🏻‍♂️

[2017-12-27 18:02] jdorfman commented on #944
K I'll create a PR and remove from S3

[2017-12-27 18:16] jdorfman commented on #944
done

[code]

[2017-12-27 18:16] #944 closed

[2017-12-27 18:19] jdorfman commented on #864
I checked with my buddy who is in this space and he says it should all be in there. In fact, we should technically have a separate cookie policy but I rather just wait to be told than add one of those annoying banners to our site.

[2017-12-28 08:05] XhmikosR commented on #864
My main concern with this, is that I personally don't want to embed yet another third-party thing.

Can't we just get the text and we mention something like "Generated with foo(link)"?

[2017-12-28 17:08] jdorfman commented on #864
@XhmikosR for sure that is why I gave you all the different options ;)

[2017-12-29 12:52] eustas commented on #556
Is is possible to use `pre-compressed-assets` middleware + a little bit of build magic to enable serving of pre-compressed assets?

[2017-12-29 16:21] jdorfman commented on #556
@eustas anything is possible but if it isn't in the MaxCDN/StackPath product we can't use it. At peak hours, we handle close to 26k requests/sec. Any solution has to scale to that and beyond (there are MaxCDN customers that put that number to shame).

[2018-01-02 16:36] jdorfman commented on #864
@XhmikosR what else do you need?

[2018-01-02 18:13] XhmikosR commented on #864
Time for now, and the fact that I'm not sure with what solution I'll go.

The current one with embedding the script, leads to numerous CSP
violations. So since we don't plan to edit the page a lot, I think it would
be better if we just served any assets from our server, but I'm not sure
how to do it yet.

On Tue, Jan 2, 2018 at 6:36 PM, Justin Dorfman <notifications@github.com>
wrote:

[2018-01-03 19:26] XhmikosR opened #948 "Change bootswatch.js script to use GitHub tags"
Currently we get the files from the live server. This is bad, because we don't follow any version control. So if one runs `npm run bootswatch 3.3.7` you will see the files will differ.

We should retrieve the GitHub tag instead.

@jmervine: if you make any progress just ping me.

[2018-01-03 19:45] XhmikosR opened #949 "Serve CDN files with charset=UTF-8"
Not sure why we don't do this already...

We should serve any supported file types with a specified charset.

/CC @jdorfman

[2018-01-03 19:47] XhmikosR opened #950 "Add tests for .map files"
Checking if they are served with a 200 return code should be a good first step.

[2018-01-04 16:56] jdorfman commented on #949
@petarpetrovic any ideas?

[2018-01-04 18:21] petarpetrovic commented on #949
@XhmikosR can you give me an example file, both the origin URL and CDN URL?

cc @jdorfman

[2018-01-04 19:37] jdorfman commented on #949
@petarpetrovic for intance:

[code]

[code]

I am sure we can set an EdgeRule to add it, but I think it is something that needs/should be enabled on the origin side.

[2018-01-04 19:41] jmervine commented on #949
@jdorfman I could write a script crawl either [`config/_config.yml`](https://github.com/MaxCDN/bootstrap-cdn/tree/develop/config/_config.yml) or [`public`](https://github.com/MaxCDN/bootstrap-cdn/tree/develop/public) and adjust the content type of each element in s3. I don't love that approach though. It feels, risky.

Additionally, we could look at something like this: https://serverfault.com/que

[2018-01-04 19:45] XhmikosR commented on #949
So we need to specify the file types ourselves ? If so I say we go with a
well know list of files like the one from html5 no apache config.

On Jan 4, 2018 21:43, "Joshua Mervine" <notifications@github.com> wrote:

[2018-01-04 19:46] jdorfman commented on #949
@jmervine I agree with you. It does seem risky for very little reward (IMO).

With that said, we have a few other S3 tasks:

 - `*.bootstrapcdn.com/index.html` -> redirect -> bootstrapcdn.com
 - EU replication

[2018-01-04 19:46] XhmikosR commented on #949
Oh and add tests so that we don't hit this again without us noticing :)

On Jan 4, 2018 21:45, "XhmikosR" <xhmikosr@gmail.com> wrote:

[2018-01-04 20:45] XhmikosR commented on #949
What do you mean little reward? This is wrong as any Unicode characters
won't be properly displayed without the right charset...

On Jan 4, 2018 21:48, "Justin Dorfman" <notifications@github.com> wrote:

[2018-01-04 21:05] jdorfman commented on #949
@XhmikosR without Googling, what is the advantage of adding `; charset=utf-8`?

[2018-01-04 21:52] XhmikosR commented on #949
What I say in my previous message. This isn't an enhancement. It's a bug.

On Jan 4, 2018 23:05, "Justin Dorfman" <notifications@github.com> wrote:

[2018-01-05 02:45] jmervine commented on #949
That doesn’t answer the question. What’s the benefit of adding it. Not all bugs are worth fixing. Just trying to get the risk vs. reward.

[2018-01-05 06:03] jdorfman commented on #949
I agree with @jmervine

[2018-01-05 09:46] XhmikosR commented on #949
We are the only CDN that does this and you think it's ok?

As for if it answers the question, yes it does. If you don't want to
understand the importance that is something else.

On Jan 5, 2018 08:03, "Justin Dorfman" <notifications@github.com> wrote:

[2018-01-06 00:14] jdorfman commented on #949
@XhmikosR I respect the fact that the others do it, **BUT** we never get complaints from anyone because `charset=utf-8` is missing from the `Content-Type` header. So why add the extra 15 bytes to each request if we don't need to? @jmervine and I need to be convinced beyond "Google does it".

[2018-01-06 06:49] XhmikosR commented on #949
Sorry, guys, this is just fundamentals for me. I honestly don't get why **you** don't see it.

It's the same way we set a charset for the HTML. Haven't you asked yourself why it's important to do it?

Any CSS or JS or text-served filetype may contain utf-8 characters. Without it, they won't show up correctly. And being we are a CDN, we need to play it safe.

Sure there are workarounds, at least fo

[2018-01-06 06:51] XhmikosR opened #953 "Clean up tweets / reduce the number of visible ones"
1. I'd say just remove the simple ones which are like "Thank you"
2. See if there's a way to reduce the number of visible tweets

[2018-01-06 07:01] XhmikosR opened #954 "Enable DNSSEC"

[2018-01-06 19:15] jdorfman commented on #949
You got me there! 😂

Ok @XhmikosR you make a great point "why risk it?".

@jmervine this should be part of an S3 improvement issue (1 not multiple) which will include the following:

- Fix `Content-Type` Headers
- Fix EU Replication
- Fix `https://maxcdn.bootstrapcdn.com` to load `index.html`
- Security/Permissions audit
- Check to make sure files are in sync with GH
- Update tests to account for

[2018-01-06 23:20] jmervine commented on #949
I did the perms audit. They’re good.

[2018-01-06 23:32] jdorfman commented on #953
- [ ] 1
- [ ] 2

[2018-01-06 23:49] jdorfman commented on #953
@XhmikosR we need to fix (or remove) the OG image. The "B" is cut off.

![image](https://user-images.githubusercontent.com/398230/34645054-191806b6-f2f9-11e7-8d96-7c0cf388b631.png)

[2018-01-07 00:01] jdorfman commented on #864
@XhmikosR just let me know what you need.

[2018-01-07 00:27] XhmikosR commented on #953
That I don't know, it's like that from day 1. In theory what we use now should be OK (a 256x256 image).

Did you reduce the number of the visible tweets?

[2018-01-07 00:30] XhmikosR commented on #953
Because I'm still seeing more than 5.

[2018-01-07 02:26] jdorfman commented on #953
Did you use the new code? There is a data-limit attribute.

[2018-01-07 10:12] XhmikosR commented on #953
You shouldn't have closed the issue then. It's not implemented on the frontend...

I'll see how it looks because I think it will just look too tall.

[2018-01-07 15:32] jdorfman opened #956 "Consistent Branding"
- [x] Update Twitter Colors/Theme
- [x] Update Readme (`s/Bootstrap CDN/BoostrapCDN/`)
- [ ] Update Repo name (`s/bootstrap-cdn/bootstrapcdn/`)

@XhmikosR @jmervine I am a little worried about updating the Repo name. I know GitHub does a good job of redirects, but what about tests and stuff?

![image](https://user-images.githubusercontent.com/398230/34650842-5670f6f2-f37c-11e7-9f4c-43b53fc04e6d.pn

[2018-01-07 15:50] jdorfman commented on #956
Updated Topics
![image](https://user-images.githubusercontent.com/398230/34651026-5f17e362-f37f-11e7-84eb-bb522a68e042.png)

[2018-01-07 15:52] jdorfman commented on #956
Added `/StackPath` to the repo description.

![image](https://user-images.githubusercontent.com/398230/34651060-b72585be-f37f-11e7-8ef8-ed852c9d98e8.png)

[2018-01-07 22:05] jmervine commented on #956
Don’t use caps in the repo name. If you want to rename it use `bootstrapcdn`.

[2018-01-08 16:50] XhmikosR commented on #956
Yup, agreed about the repo name with Josh.

The rest should be easy to do and generally everything should be OK. Any issues that might come up we can fix them.

I can make a PR later or tomorrow.

[2018-01-08 19:36] jdorfman commented on #956
New Twitter theme

![image](https://user-images.githubusercontent.com/398230/34688784-232ff65c-f468-11e7-803c-517563bed7b7.png)

[2018-01-08 19:57] XhmikosR commented on #864
1. We need to add some tests
2. I need a review from @jmervine about the approach I took with the CSS/JS files; this is so that we can add more there in the future

[2018-01-09 06:44] XhmikosR opened #957 "Fix frontend issues after beta3"
Like the form button.

[2018-01-09 11:16] XhmikosR commented on #957
Fixed in https://github.com/MaxCDN/bootstrap-cdn/commit/5c9d3ae0f3ed006f4ac71bb2bbc470a073ef7585.

[2018-01-09 11:16] #957 closed

[2018-01-09 16:29] #953 closed

[2018-01-09 17:00] #956 closed

[2018-01-09 17:38] jmervine commented on #864
Reviewed and approved.

[2018-01-09 17:39] #864 closed

[2018-01-09 17:39] jdorfman commented on #864
@XhmikosR let's close this out. Do whatever you need to do to deploy it.

[2018-01-09 17:40] XhmikosR commented on #864
@jdorfman: I already merged, but there's no need to hurry to close issues. It's confusing when the fix isn't there yet.

[2018-01-09 19:19] jdorfman commented on #954
@XhmikosR for www or cdn?

[2018-01-09 19:25] XhmikosR commented on #954
This is for the whole domain, if I remember correctly.

On Jan 9, 2018 9:19 PM, "Justin Dorfman" <notifications@github.com> wrote:

[2018-01-09 22:50] XhmikosR opened #960 "Change Google console verification to DNS TXT record"
It just makes more sense to have this linked to a higher level than what we have now.

[2018-01-10 08:13] XhmikosR opened #961 "Move JS outside of HTML"
I need to test the performance impact, because, well, we don't have http2 on Heroku.

But, this way, the assets will be cacheable, so it should save us bandwidth.

Note to self: make sure SRI hashes work properly when we minify the files on the fly. Otherwise if we can't get this to work, we might 1) either drop minification on the fly, 2) consider preprocessing the assets and just serve them.

[2018-01-11 16:03] petarpetrovic commented on #954
I've escalated the request to the System Engineering team. Will let you know once this is done.

[2018-01-13 08:08] XhmikosR opened #964 "Bootstrap 4.0.0 stable"
I'm opening this issue to discuss how to proceed and track what do to.

TODO:

- [x] Adapt frontend to remove the Beta warning
- [x] Merge config for bootstrap 3 and 4
- [x] Adapt frontend to only show the latest version
- [x] Adapt tests for the above stuff

[2018-01-18 21:17] styfle commented on #964
It's here! http://blog.getbootstrap.com/2018/01/18/bootstrap-4/

[2018-01-18 21:35] jdorfman commented on #964
@styfle yes it is on the CDN already. Just waiting for @XhmikosR to get back to a keyboard to update the site.

[code]
[code]

[2018-01-19 01:22] jdorfman commented on #964
@XhmikosR see slack, had to push #966

[2018-01-21 08:06] XhmikosR opened #968 "Bootswatch 4.0.0"
I'll take a stab at it later today or tomorrow. After that, @jdorfman you will need to update the CDN; better wait until I commit the files so that we don't have broken SRI hashes.

/CC @m5o FYI

[2018-01-22 12:55] XhmikosR opened #969 "Update jQuery to v3.3.1"

[2018-01-22 15:49] #969 closed

[2018-01-28 07:59] mynameismosa opened #974 "Some icons don't load on first page load (trademark, product)"
When using http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css or //maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css or older versions, at least two icons don't get load on first page load. I tried different versions, all the same.
Icons I tried: fa-trademark and fa-product-hunt.

Thanks for all!

[2018-01-30 15:56] jdorfman commented on #974
hey @mynameismosa can you paste your code to a gist as well as posting a screenshot?

Thanks

[2018-02-05 09:22] coliff commented on #949
Agree with @XhmikosR - and FWIW - leaving off the UTF-8 header gives an error in the Sonarwhal Online Scanner. https://sonarwhal.com/scanner/

[2018-02-08 00:32] jdorfman commented on #949
@jmervine please ignore the other bullet points, let's get the `content-type: application/javascript; charset=utf-8` header setup on S3.

I see this could be a good method: https://github.com/aws/aws-cli/issues/1346#issuecomment-333268233 e.g.

[code]

[2018-02-08 03:06] jmervine commented on #949
AFAIK, this will copy local files to s3 in the process. That should be safe but want to mention it.

[2018-02-08 16:12] jmervine commented on #949
Want to expand on the lambda idea?

[2018-02-08 16:44] jdorfman commented on #949
How is Lambda compared to S3's uptime/perf?

[2018-02-08 16:49] XhmikosR commented on #949
I haven't used it yet myself, but it shouldn't really matter since the files will be cached by the CDN for a year. So only cold visits would request the files from S3.

[2018-02-09 15:10] XhmikosR commented on #954
@petarpetrovic: any news?

[2018-02-09 15:47] petarpetrovic commented on #954
@XhmikosR still working with the System Engineering team on getting this enabled. Will ping them again today for an update.

[2018-02-09 19:52] jdorfman commented on #949
From time to time all CDN's have to take a caching server out for maintenance or replace it altogether meaning the cache is stale/removed. Since we use a Pull Zone, if the origin (i.e. Lambda) is down, `5xx`'s will return.

[2018-02-09 21:50] petarpetrovic commented on #949
@jdorfman we can always configure the Use Stale option in the pull zone's settings to return "stale" content in case of 5xx responses coming from the origin. In our case, the content wouldn't really be stale, we'd keep serving static assets as usual while the origin is down.

[2018-02-09 22:05] XhmikosR commented on #949
Plus, you are assuming lambda will be down. I don't see why it would be down anyway.

Your call. Re-uploading everything with the proper charset is fine too, as long as we make a list before doing anything.

[2018-02-10 06:37] XhmikosR commented on #949
For reference, from html5's boilerplate:

[code]

[2018-02-10 17:50] jmervine commented on #949
This goes back to why I want to serve the origin off wwwas opposed to S3. If the cdn is configured correctly, and doesn’t refresh content when the origin returns a non-200 status, there is no risk in it. This would give us full control over headers and the like, while allowing us to ensure they’re set correctly in our test suite.

I’m down to update s3, and I know we’ve gone back and forth on this

[2018-02-10 18:23] jdorfman commented on #949
TIL: `.topojson`

S3 is the way. 5 years with no issues. Sure there are drawbacks, and it would be easier to switch to www but reliablity+security = more sleep.

[2018-02-10 22:30] jmervine commented on #949
Okay, before executing anything on S3, I decided to sync from S3 to a local branch. It looks like there's some files on s3 that aren't in github...
[code]

[2018-02-10 22:49] XhmikosR commented on #949
As long as we don't have any other file types other than css and js it
looks ok.

On Feb 11, 2018 00:48, "Joshua Mervine" <notifications@github.com> wrote:

[2018-02-11 18:55] jmervine commented on #949
There’s at least one json fil as well.

[2018-02-11 19:51] XhmikosR commented on #949
You can change that too then.

Also, don't do this without adding a script in the repo to replicate this. A simple script should suffice for the future.

[2018-02-13 15:53] jdorfman commented on #949
@jmervine let's start with the older bootswatch files first then roll out to the others.

[2018-02-16 15:41] jdorfman commented on #949
**Note:** Please don't ask for an ETA. This is a huge change that could affect millions of sites if rushed. We will be taking our time rolling this out. Thank you.

[2018-02-16 15:54] jmervine commented on #949
2.1.0 done as a test. I’m going to do the rest in chunks (hopefully this weekend), I’ll include an order and check list here before starting.

[2018-02-16 15:57] XhmikosR commented on #949
Did you clear the CDN cache? Otherwise the header won't show up until the file expires.

[2018-02-16 15:57] XhmikosR commented on #949
Did you clear the CDN cache for the files you re-uploaded? Otherwise the header won't show up until the file expires.

[2018-02-16 15:58] jdorfman commented on #949
Clearing

[2018-02-16 16:02] jdorfman commented on #949
doesn't look like it:

[code]
[code]

[2018-02-17 21:48] jmervine commented on #949
Progress
- [x] public/twitter-bootstrap/2.1.0
- [x] public/bootlint/0.2.0
- [x] public/bootlint
- [x] public/html5shiv
- [x] public/font-awesome/2.0
- [x] public/font-awesome/4.6.0
- [x] public/font-awesome
- [ ] public/bootswatch/2.1.0
- [ ] public/bootswatch
- [ ] public/twitter-bootstrap
- [ ] public/bootstrap

----

@jdorfman I'm going to stop here and let it sit for a few days. If we have no

[2018-02-19 01:10] bhubbard opened #980 "Service Worker Support"
I would love to see service worker support for the cdn. This could allow for local caching, and even offline support.

[2018-02-19 16:18] jdorfman commented on #980
Interesting. Not my area of expertise so I have no idea how that would work. @XhmikosR care to chime in?

[2018-02-19 16:21] XhmikosR commented on #980
Not something I have time to investigate and at this point I'm not even
sure it's possible for the CDN only. For the main site it's possible but it
would require preprocessing which again I'm not willing to spend any time
on unless the site is a purely static one.

That being said, if anyone makes a PR I can review it.

On Mon, Feb 19, 2018, 18:18 Justin Dorfman <notifications@github.com> wrote:

[2018-02-19 22:32] jdorfman commented on #949
Purge & QA:
- [x] https://maxcdn.bootstrapcdn.com/bootlint/0.14.2/bootlint.min.js
- [x] https://maxcdn.bootstrapcdn.com/bootlint/0.2.0/bootlint.min.js
- [x] https://maxcdn.bootstrapcdn.com/html5shiv/3.6.1/html5shiv.js
- [x] https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css
- [x] https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css

Looking good @jme

[2018-02-20 00:03] jmervine commented on #949
Okay. I’ll hit the rest next chance I get. Later today or tomorrow.

[2018-02-20 06:04] jmervine commented on #949
I have updated all files, once the CDN is purged, these tests should pass -- https://github.com/MaxCDN/bootstrapcdn/pull/978

@jdorfman This issue should be closed once the CDN has been purged.

[2018-02-20 18:06] jdorfman commented on #949
@petarpetrovic tomorrow I am going to do a `purge all`. Can you tail the logs and make sure there are no errors?

[2018-02-20 20:09] petarpetrovic commented on #949
@jdorfman absolutely. Just let me know 10ish minutes before purging on Slack so I can prepare everything on my end.

[2018-02-21 16:18] jdorfman commented on #949
This issue is now complete. I would like to thank:

* @XhmikosR for bringing it to attention
* For taking the lead
* @petarpetrovic for his help on the CDN side
* @coliff for their comments

🤘

[2018-02-21 16:18] #949 closed

[2018-02-21 16:33] jdorfman opened #981 "S3 Tasks"
Remaining S3 tasks

- [x] #949
- [ ]  EU replication
- [ ] `https://maxcdn.bootstrapcdn.com` -> redirect -> `https://www.bootstrapcdn.com`

[2018-02-22 10:46] geri777 commented on #344
status.maxcdn.com could have a form to add issues - similar to this one:
http://allestoerungen.de/stoerung/netflix
This is a real time analyses of user problems - users just click a button, categorize thir problem and the issue is counted in a heat map.

[2018-02-22 16:15] jdorfman commented on #981
@jmervine perfect. How many 403's are we seeing a day?

[2018-02-22 16:47] #968 closed

[2018-02-23 14:56] jmervine commented on #981
After looking at 403 data — ~500 per second. The volume is too large to redirect to www.  Perhaps an empty file served on off the cdn?

[2018-02-23 14:58] jmervine commented on #981
Or we just let them error.

Additionally upon further reading. If the entire bucket was setup to serve static content these errors would be 404s. I need to dig in a bit but that might ensure that we don’t have to be concerned with perms for future uploads.

[2018-02-25 01:31] jmervine commented on #981
Blog post on cross region replication.

https://aws.amazon.com/blogs/aws/new-cross-region-replication-for-amazon-s3/

[2018-02-25 19:31] jdorfman commented on #981
Sweet I will give that a shot tomorrow.

[2018-02-25 20:13] jmervine commented on #981
I don’t mind looking at it as well. Just dropping it here for reference.

[2018-02-26 15:49] jdorfman commented on #981
Give it a shot. We will most likely be moving to the Highwinds/StackPath platform for IPv6 support. They support a `backup origin` so I would like to have US as primary and EU as the backup.

![image](https://user-images.githubusercontent.com/398230/36679952-5c143398-1ac9-11e8-836f-0797b88490b3.png)

[2018-02-27 16:14] jdorfman commented on #948
@jmervine @XhmikosR what is happening with Bootswatch?

People are asking: https://twitter.com/orgbrat/status/968516215634321410

[2018-02-27 16:19] XhmikosR commented on #948
@jdorfman: First of all, it's unrelated to this issue.

Secondly, it's in develop, not in master yet.

[2018-03-08 18:45] jdorfman commented on #964
@XhmikosR re-open if this isn't finished.

[2018-03-08 18:46] jdorfman commented on #981
@jmervine any progress?

[2018-03-08 18:47] jdorfman commented on #980
Closing for now.

[2018-03-08 18:47] #980 closed

[2018-03-08 18:47] #974 closed

[2018-03-08 18:50] jdorfman commented on #960
@XhmikosR can you give the TXT record value? Assuming this is for `www` only?

[2018-03-09 07:13] XhmikosR commented on #960
You can get it in the Google Search console, Cog button -> Verification details and click on the `Verify using a different method.` link.

[2018-03-13 07:24] #964 closed

[2018-03-13 07:26] XhmikosR commented on #954
@petarpetrovic: ping

[2018-03-13 16:50] petarpetrovic commented on #954
@XhmikosR this will need to get delayed a little bit due to the migration to the new CDN platform. I'll post more details and ETA as soon as I have it.

[2018-03-14 21:48] jdorfman commented on #954
@XhmikosR I have a call with StackPath tomorrow, when we are ready to move over we will make sure this is applied. The new hostname going forward will be `stackpath.bootstrapcdn.com`. More on that after the move.

[2018-03-15 05:01] XhmikosR commented on #700
@jdorfman: can we get this sorted with StackPath too? It's really important that we fix the redirect issue; it's not an issue of SEO.

[2018-03-16 23:58] #961 closed

[2018-03-29 23:46] phillipremaker commented on #533
AWESOME! Thanks!

On Thu, Mar 29, 2018 at 12:22 PM, Justin Dorfman <notifications@github.com>
wrote:

[2018-04-03 15:25] XhmikosR opened #989 "Run the same number of tests on Windows"
It's always a good idea to not rely on the OS for stuff. And in this case, it would help us when Travis fails.

Currently I'm getting 3386 on Windows vs 3823 on Travis for the #988 branch.

I still can't see why this happens even with full mocha output.

I'll need to compare both outputs to find the differences.

[2018-04-04 07:33] XhmikosR opened #991 "Improve headers tests"
We should modify our tests to test for

1. `content-encoding: gzip`
2. `cache-control: max-age=31536000`

These changes will tighten our tests a lot. For example, we would have seen failures in #988 instead of me catching the issues manually.

[2018-04-04 16:09] XhmikosR commented on #950
I think this is no longer valid. We test for content-type now.

[2018-04-04 16:09] #950 closed

[2018-04-04 17:47] #991 closed

[2018-04-09 13:51] XhmikosR opened #998 "Enable http/2 for the CDN"
Just opening this issue to track the http/2 progress on the CDN.

[2018-04-11 11:04] XhmikosR opened #1012 "Add `Timing-Allow-Origin` header"
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Timing-Allow-Origin

The header is already being used by many popular CDNs, like Google.

[2018-04-11 15:39] XhmikosR opened #1014 "Add an About page"
We discussed this with @jdorfman the other day on Slack.

I think we should have a simple About page, listing some of the core values, principles and history of the project.

[2018-04-12 06:20] XhmikosR opened #1017 "Improve `cache-control` header"
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control

1. `stale-while-revalidate`
2. `stale-if-error`
3. `immutable`

Maybe not yet, until the spec is in WD phase.

Opening this to track it.

[2018-04-12 13:25] petarpetrovic commented on #998
This is definitely planned for some time in the future, however, the current limitations on the new CDN infrastructure do not allow us to turn HTTP/2 back just yet. I'll be posting more updates to this thread as they become available.

[2018-04-12 13:25] petarpetrovic commented on #1012
I'll work on getting the header added sometime next week.

[2018-04-12 13:26] petarpetrovic commented on #954
Due to the current limitations on Route 53's end, DNSSEC cannot be enabled at this time. I will be monitoring the Route 53 feature set and I'll revisit this issue once there are any new developments related to DNSSEC on their end.

[2018-04-13 18:15] XhmikosR opened #1027 "tests: properly load the server and close it"
That seems to be the reason mocha hangs without `--exit` passed.

If I run `npm run mocha:functional` which doesn't load the server, then mocha exits cleanly on errors.

[2018-04-13 18:31] XhmikosR opened #1028 "www: add a 404 page"

[2018-04-13 23:48] XhmikosR opened #1029 "Add Twitter link to jumbotron"
And perhaps remove our Follow buttons since we already link to our Twitter accounts in the footer links.

[2018-04-14 12:19] XhmikosR opened #1030 "Fix redirection with params"
For example, `https://www.bootstrapcdn.com/bootswatch4/?theme=1` should keep the theme param.

Not a high priority but would be nice if we fixed it.

[2018-04-14 17:43] XhmikosR opened #1032 "Clean up our content-type tests"
From #1023:

1. We need to remove `content-type: undefined` if we are going to check individually later
2. We don't need to run `assertItWorks` both for each group test and in `public/**/*.*`
3. There shouldn't be any unknown file types so we should remove the `typeof helpers.CONTENT_TYPE_MAP[ext] === 'undefined'` check
4. We probably should remove the custom code that stops testing `twitter-boots

[2018-04-16 10:49] XhmikosR commented on #1030
On the other hand, I'm thinking it might be better to do what we currently do, i.e. ignore the params. Because for example, from Bootswatch 3 to 4, the theme index changed. So, if we kept the params, the user would use a different theme than before in some cases.

Let me know what you guys think.

[2018-04-16 11:23] XhmikosR opened #1035 "Add tests for page descriptions"

[2018-04-16 12:01] XhmikosR opened #1036 "Change JS mime type"
See https://github.com/h5bp/server-configs-apache/pull/124

[2018-04-17 07:35] XhmikosR opened #1038 "Change font MIME types to the proper ones"

[2018-04-18 16:35] #1029 closed

[2018-04-19 14:47] XhmikosR opened #1045 "Test redirects too"

[2018-04-19 23:39] XhmikosR opened #1047 "Fix `cleanEndpoint` for URLs with extension"
[code]

[2018-04-20 16:07] jdorfman opened #1055 "Community profile tasks"
Complete the following [GitHub community recommendations](https://github.com/MaxCDN/bootstrapcdn/community)

- [x] CoC #1054
- [ ] Contributing
- [ ] Issue template
- [ ] PR template

[2018-04-20 21:06] #1028 closed

[2018-04-23 09:14] adrianreber opened #1061 "Accessing maxcdn via https and IPv6 hangs for 6 seconds"
Every request of my firefox to netdna/maxcdn.boostrapcdn.com hangs for 5 seconds but only via https and IPv6.

I do not see it this via IPv4 and/or http. I can reproduce it in curl on multiple systems:

[code]

This happens for all hosts maxcdn.bootstrapcdn.com resolves to.

[2018-04-23 09:15] XhmikosR commented on #1061
/CC @petarpetrovic

[2018-04-23 11:13] TheSeeker92 commented on #1061
Hey @adrianreber , thank you for reporting the issue. We'll investigate and keep you posted!

[2018-04-24 06:36] #1047 closed

[2018-04-24 07:03] XhmikosR commented on #1032
I think this is sort of addressed now.

[2018-04-24 07:03] #1032 closed

[2018-04-24 10:29] XhmikosR opened #1066 "Fix tests to only check for `content-encoding` for supported types"

[2018-04-24 13:58] #1014 closed

[2018-04-24 21:13] jdorfman opened #1070 "Timeline for About"
@XhmikosR said we should add a **short** timeline to #1064

Here is what I have so far. I need help finding dates and/or removing trivial events.

Timeline - http://j.mp/2Jo8xrG

* May 25, 2012 - BootstrapCDN.com is Registered
* June 7, 2012 - Beta Website/Service is Launched
* July 30, 2012 - Boostrap’s co-creator @fat tweets about the service
* August 8, 2012 - TwitterOSS Endorsement
* August 21

[2018-04-24 22:53] jdorfman commented on #1070
Need to replace `https://github.com/ampproject/amphtml/search?utf8=%E2%9C%93&q=bootstrapcdn&type=` with `https://www.ampproject.org/docs/design/responsive/custom_fonts` on `/about`.

![image 2018-04-24 at 3 51 36 pm](https://user-images.githubusercontent.com/398230/39218052-79319764-47d7-11e8-8507-0702c4332771.png)

[2018-04-25 06:27] XhmikosR commented on #1070
Link updated.

[2018-04-26 11:40] XhmikosR opened #1074 "Fix redirect to the www domain for `https://bootstrapcdn.com`"
We need to find a way to listen on the naked domain's address too on Heroku.

https://bootstrapcdn.com should redirect to https://www.bootstrapcdn.com

This is an important issue, and needs to be addressed once and for all.

Opening this to track it separately from #700

/CC @jmervine

[2018-04-29 12:19] XhmikosR opened #1079 "Use const/let for Pug"

[2018-04-30 16:50] jdorfman commented on #1061
Hi @adrianreber @paravoid our team is looking into it. Thank you for the report and I personally apologize for the delay.

[2018-05-01 10:52] XhmikosR opened #1090 "Prevent error when `?theme=x` where `x >= themes.length`"

[2018-05-01 13:38] XhmikosR commented on #960
@petarpetrovic: any progress? This is pretty simple. You just need to add a DNS entry and ping me to remove the HTML `meta`.

[2018-05-01 17:10] #1090 closed

[2018-05-01 19:48] #1045 closed

[2018-05-02 06:29] XhmikosR opened #1094 "Move redirects to a json config file"

[2018-05-02 23:55] #1094 closed

[2018-05-03 00:03] #939 closed

[2018-05-04 16:07] jdorfman commented on #1061
@adrianreber @paravoid

"I was wondering if you could provide us with Traceroutes and source IP addresses from the original reporters of the issues?"

If you want to report these privately please email me `justindorfman at gmail`

[2018-05-04 17:34] adrianreber commented on #1061
@jdorfman output of mtr sent via email

[2018-05-06 12:21] XhmikosR opened #1099 "Merge csscode.pug and jscode.pug and move to a mixin."

[2018-05-06 12:22] XhmikosR opened #1100 "Add tests for theme query"
Including the case when theme > themes.length.

[2018-05-06 12:23] XhmikosR opened #1101 "Add coverage"
Any help is welcome

[2018-05-07 07:22] XhmikosR opened #1104 "Move page descriptions and titles in config"

[2018-05-07 08:19] #1101 closed, assigned to nobody

[2018-05-07 08:33] XhmikosR commented on #1074
Since I don't have access on Heroku nor AWS myself, can someone tell us where the problem is exactly?

If there's a proper DNS entry for both `www` and naked domain, and they both point to the same Heroku app, then it should work.

https://devcenter.heroku.com/articles/route-53

So, if the problem is Route 53, then we really need to switch registrars.

[2018-05-07 15:20] jdorfman opened #1105 "[Time sensitive] Add Red Alert for Net Neutrality Widget"
Add ASAP: `<script src="https://redalert.battleforthenet.com/widget.js" async></script>`

Read more:
* https://github.com/fightforthefuture/redalert-widget/blob/master/README.md
* https://www.battleforthenet.com/redalert/

[2018-05-07 16:32] #1105 closed

[2018-05-08 10:49] andyiwest opened #1108 "Max CDN stability"
Hi there,

I've come across about 10-12 sites within the past 2 days that all took >2 mins to load, and it was due to 'waiting for maxcdn.bootstrapcdn.com to load'

This seems to be getting worse, how stable are your CDNs?

[2018-05-08 10:50] XhmikosR commented on #1108
/CC @jdorfman @petarpetrovic

[2018-05-08 10:51] XhmikosR commented on #1108
@jdorfman perhaps we should switch back to MaxCDN. It's clear that there are a lot of issues with SP.

[2018-05-08 10:56] andyiwest commented on #1108
Have you recently changed who serves the CDN files then?

[2018-05-08 10:59] andyiwest commented on #1108
Ah, i see bootstrap now uses Stackpath.bootstrapcdn.com
the sites I've seen it occur on are specifically maxcdn. and **not** stackpath.

[2018-05-08 11:01] XhmikosR commented on #1108
I'm not sure if the old endpoint is still being served by SP or not. We'll definitely need an mtr when you see the issue. Feel free to send it via email to me or @jdorfman.

[2018-05-08 12:04] XhmikosR commented on #1108
After receiving the mtr output, I see @andyiwest is using IPv6. So, I think this issue is a duplicate of #1061.

[2018-05-08 12:08] XhmikosR commented on #1108
Closing as a duplicate. Please comment to the other issue if you need more help.

[2018-05-08 12:10] XhmikosR opened #1109 "Make deployments more foolproof"
@jmervine: it's your area of expertise since you only have access there. There must be some way we make a retry or something to prevent deployments not happening.

Because, I just happened to notice it and this could be very problematic.

[2018-05-08 12:21] XhmikosR opened #1110 "Look into running tests on Travis for both IPv4 and IPv6"

[2018-05-08 14:44] jdorfman commented on #1108
Ty @andyiwest I will follow up asap

[2018-05-11 04:01] #1027 closed

[2018-05-13 20:07] XhmikosR opened #1116 "Add coveralls to the repo"

[2018-05-16 18:50] foucault commented on #1061
I am facing the same problem. When attempting to connect to maxcdn.bootstrapcdn.com via IPv6 and HTTPS connection hangs for a good 3-5 seconds. `curl` output is the same as OP's. The delay is right after `* TLSv1.2 (OUT), TLS handshake, Client hello (1)`. IPv4 works as expected. The IP attempted is `2001:4de0:ac19::1:b:1b` but as reported is the same for all the IPv6s the domain resolves to. If yo

[2018-05-16 18:52] jdorfman commented on #1061
@foucault please send them. The more info we have the better.

[2018-05-19 23:47] smith153 commented on #1061
Seems like I've been seeing slowness for about a month. I'm on ATT uverse DSL with IPV6 via 6rd gateway 12.83.49.81. Here is a screen capture of wget: https://giant.gfycat.com/EasyHappygoluckyAfricangroundhornbill.webm

And a curl trace:

[code]

[2018-05-20 06:31] XhmikosR opened #1121 "Run tests for both lowercase and camel case request headers"
In order to catch issues like the recent gzip bug.

But first we need a list of request headers that affect our response headers.

One is `accept-encoding` for sure.

[2018-05-20 07:15] #1066 closed

[2018-05-20 09:58] jeanpaul1977 commented on #1061
Similar issues using IPv6 via Hurricane Electric IPv6 tunnel:

taivas@laptop-taivas:~$ curl https://maxcdn.bootstrapcdn.com -v --trace-time
11:56:25.049675 * Rebuilt URL to: https://maxcdn.bootstrapcdn.com/
11:56:25.049788 * Hostname was NOT found in DNS cache
11:56:25.110330 *   Trying 2001:4de0:ac19::1:b:2b...
11:56:25.115087 * Connected to maxcdn.bootstrapcdn.com (2001:4de0:ac19::1:b:2b) port 4

[2018-05-20 13:16] petarpetrovic commented on #1061
Hello @smith153 @jeanpaul1977 if it's not too much to ask, could you please share your IPv6 IPs and a traceroute6 towards `maxcdn.bootstrapcdn.com` so that we can look into this further? Thanks!

[2018-05-21 09:10] jeanpaul1977 commented on #1061
No problem, I'm glad to help. My IPv6 address is in the range 2001:470:7a2e:8000::

I noticed that maxcdn.bootstrapcdn.com doesn't have any IPv6 address in the DNS currently. It has been removed around 6pm yesterday (May 20th 2018), so I ran the traceroute below against the IP that I resolved yesterday. Not sure if that's still a valid IP for you:

taivas@laptop-taivas:~$ mtr -n --report 2001:4de0

[2018-05-21 09:26] XhmikosR commented on #1061
IPv6 was disabled temporarily until all the issues are sorted.

[2018-05-21 09:58] XhmikosR opened #1125 "Fix sitemap.xml"
This was caused by the routes split. I remember I was having issues moving sitemap and robots to their own modules. We'll need to either revert the routes modularization or figure out how to make this work right.

[2018-05-21 10:03] XhmikosR commented on #1125
This was caused by the routes split. I remember I was having issues moving sitemap and robots to their own modules. We'll need to either revert the routes modularization or figure out how to make this work right.

[2018-05-21 10:29] petarpetrovic commented on #1061
Thank you @jeanpaul1977 but as @XhmikosR said, we have temporarily disabled IPv6 until we're confident all issues are resolved. We don't have a precise ETA right now but we'll keep you all posted. I appreciate your cooperation!

[2018-05-21 17:00] #1125 closed

[2018-05-21 18:18] jdorfman opened #1128 "New page: Books"
Using Google Book Search, I've been finding notable authors/publishers referencing BootstrapCDN. For example:

* [O'Reilly Media - Building Progressive Web Apps: Bringing the Power of Native to the Browser](https://books.google.com/books?id=H8o0DwAAQBAJ&printsec=frontcover&dq=BootstrapCDN&hl=en&sa=X&ved=0ahUKEwj0t72wspfbAhVL7mMKHaZFD5I4FBDoAQhaMAg#v=onepage&q=BootstrapCDN&f=false)
* [Wiley - Codin

[2018-05-21 21:39] jmervine commented on #1109
Let me know next time this happens and I'll check the build history and see if heroku even got notified. If it did and failed it should be posted on #notifications in Slack, if not, then it's a breakdown either in github sending the webhook, travis notifying that it succeeded or heroku actually getting the notifications. Regardless, as mentioned in slack, we can can't alert or retry when no action

[2018-05-22 06:21] #1116 closed

[2018-05-22 07:05] XhmikosR commented on #1109
I thought the failure was in `npm i` step or something hence why I believe there's room for improvement. Maybe a retry after an interval just to work around failures in this step.

If the hook failed for some reason, there's not a lot we can do, I get that.

[2018-05-23 07:51] XhmikosR opened #1134 "Tests TODO"
* [x] `curl ifconfig.co` before tests to get the machine's IP
* [x] Run our tests one time with `Pragma: debug` and one without; we shouldn't see `Debug: Enabled` nor `X-HW` headers without Debug
    * [x] With `Pragma: debug`
    * [x] Without `Pragma: debug`
* [ ] run our tests for all POPs (pending IPs) or maybe for 10 random ones?
* [ ] run tests for both lowercase `accept-encoding` and camelc

[2018-05-23 07:57] XhmikosR commented on #1134
Also

* `curl ifconfig.co` before tests to get the machine's IP
* run our tests for all POPs (pending IPs)

[2018-05-23 08:05] XhmikosR commented on #1134
Eventually, we need to review if our list of compressible files is right and add/remove any ones

Also, we should review our content-types for fonts and js.

[2018-05-23 10:53] XhmikosR commented on #1121
Closing this in favor of #1134

[2018-05-23 10:54] #1121 closed

[2018-05-23 16:00] jmervine opened #1135 "Submit PRs on repos with legacy references."
A quick search yielded 11 repos with references to maxcdn.bootstrapcdn.com. I'm going to submit PRs to each updating to the latest stackpath url and add identity where missing.

https://github.com/search?q=maxcdn.bootstrapcdn.com

[2018-05-23 16:25] XhmikosR commented on #1135
So, I wouldn't bother with the repos at all, they all look like test repos and nothing serious IMO.

[2018-05-24 21:22] jeanpaul1977 commented on #1061
Hi!

I noticed that IPv6 has been enabled on the CDN, so I was able to run a new tests from two different locations. Location 1 is using a Hurricane Electric IPv6 tunnel; location 2 is using native IPv6 on a DigitalOcean machine hosted in the AMS3 datacenter.

The first location is still slow:
taivas@laptop-taivas:~$ curl https://maxcdn.bootstrapcdn.com -v --trace-time
23:03:56.594630 * Rebuilt UR

[2018-05-24 21:59] jdorfman commented on #1061
thanks @jeanpaul1977 I'll let them know

[2018-05-25 00:41] jdorfman commented on #1061
@jeanpaul1977 Can you please fill out this form so we can debug the issue further? https://goo.gl/forms/u2SFZS44ZGIM7yP82 thanks

[2018-05-25 05:17] jeanpaul1977 commented on #1061
Done!

[2018-05-25 05:21] jdorfman commented on #1061
thank you so much

Regards,

Justin Dorfman
@jdorfman <http://www.twitter.com/jdorfman>

Email too brief? Here's why: http://emailcharter.org

On Thu, May 24, 2018 at 10:17 PM Jean-Paul Hemelaar <
notifications@github.com> wrote:

[2018-05-26 08:14] XhmikosR commented on #1128
1. I think we need an image preview for each book
2. New page title + description
3. Should I add it in the navbar?

[2018-05-26 09:07] XhmikosR opened #1140 "Move CDN files to `/cdn/`"
The current situation is a bit messy IMO. Also, it shows us down, not a lot but it's noticeable in tests.

@jmervine @jdorfman what do you guys think? Preview: https://github.com/MaxCDN/bootstrapcdn/tree/develop-xmr-mv-cdn-files

[2018-05-26 09:14] XhmikosR opened #1142 "make `bodyClass()` use the page url"
Related to #1139

[2018-05-26 09:15] XhmikosR opened #1143 "Use `htmlEncode` in all tests where we handle URLs"

[2018-05-26 09:21] XhmikosR opened #1144 "Reduce app.js sitemap duplication"
See if we can access all routes, filter them to remove what we don't want.

[2018-05-26 10:42] XhmikosR commented on #1142
Actually, scratch that, it doesn't make a lot of sense :)

[2018-05-26 14:17] jdorfman commented on #1128
Weird are they not showing up for you?

![image](https://user-images.githubusercontent.com/398230/40577077-6e365520-60b4-11e8-9aa5-c25d6fca903a.png)

2.
* Title: Bootstrap Books
* Desc:  Books that feature BootstrapCDN.

3. Yes, please. We will be playing around with different links around the site to see what works best so it most likely won't be permanent.

[2018-05-26 14:50] XhmikosR commented on #1128
1. They weren't showing up when I wrote this because they were blocked by CSP then
2 and 3. OK

I was thinking. Will attribution work if we don't use this exact markup? For example the current solution works fine in normal mode, but on incognito mode no image is shown. We could work around this by hosting the images ourselves and using the link only.

[2018-05-26 15:38] XhmikosR commented on #1142
I was right the first time, this is an issue.

[2018-05-26 16:00] #1142 closed

[2018-05-26 17:18] #1128 closed

[2018-05-27 02:41] jdorfman commented on #1140
That actually isn't such a bad idea. Makes more sense IMO. @jmervine thoughts?

[2018-05-27 08:48] XhmikosR commented on #1140
@jdorfman: see also the relevant PR #1146

[2018-05-28 15:57] jdorfman opened #1150 "Update CarbonAds code"
[code]

[code]

[2018-05-28 17:22] XhmikosR opened #1152 "GDPR compliance"
TBF

[2018-05-28 17:55] #1150 closed

[2018-05-29 05:55] #1143 closed

[2018-05-29 15:02] jdorfman opened #1157 "Promote jobs page"
[code]

![image 2018-05-29 at 8 00 37 am](https://user-images.githubusercontent.com/398230/40667254-84e332ca-6316-11e8-87ae-50d8b2876983.png)

[2018-05-29 16:31] jdorfman commented on #1152
@jmervine and I were talking and we should make sure we are protected.

- [ ] Possibly work with StackPath legal
- [ ] Make sure all of our partners are GDPR compliant
- [ ] Look into GDPR liability insurance
- [ ] Make clear differences between `www` and `cdn` in the privacy policy. E.g. files we serve are from a cookieless domain and all files (css, js, fonts) are unaltered.

[2018-05-30 08:09] XhmikosR commented on #1152
Personally, I was thinking these

1. Make sure out Policy page mentions everything (ZipRecruiter)
2. Add an informational cookie consent for starters
3. I can handle the opt-in behavior via JS for GA. But for the rest (GitHub button, ZipRecruiter), not sure how to do it
4. It seems Twitter doesn't save any cookies the way we use the timeline with `dnt` set to true.

[2018-05-30 14:36] jdorfman commented on #1152
You will have to educate @jmervine and I. While I can't speak for Josh, I can tell you I have no effing idea about this regulation. What I do know is I want us in compliance.

[2018-05-30 14:43] jdorfman commented on #1157
**Mobile view:**
![image](https://user-images.githubusercontent.com/398230/40727349-8e7a2a5c-63dc-11e8-8399-a33d00b1dac2.png)

**Reasons:**
* Mobile traffic: only 1.49% (April 2018)
* Site is useless on mobile. I.e. no one is coding on their phone.

[2018-05-30 17:35] XhmikosR commented on #1152
Hey, I'm not an expert either :)

But as far as I understand it, it's not enough letting the visit know. We need to offer them a way to opt-out. Or rather opt-in, we need to confirm with legal.

So, for GA, it should be easy to opt in/out. For the other 2 cases I don't know.

[2018-05-30 21:34] jdorfman commented on #1152
via ZipRecruiter:

[code]

[2018-05-30 21:36] jdorfman commented on #1152
My contact at StackPath "no news yet, but I'm still on it"

[2018-06-01 06:20] XhmikosR commented on #1157
@jdorfman: any reason why we shouldn't show the alert to the top on desktop too? It would certainly be simpler.

[2018-06-01 16:45] jdorfman commented on #1157
@XhmikosR yeah sure why not. Any chance it can get pushed out in like an hour?

[2018-06-04 16:04] #1157 closed

[2018-06-05 09:19] solution7 opened #1160 "The page is not found while loading cdn url. https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css."
20 / 100 times, on doing cache refresh. The page is not being able to be fetched. Also, after hitting url, I need to refresh the page twice to get the content back again.
![40873729-c70cb336-6683-11e8-9341-39b2da6b195c](https://user-images.githubusercontent.com/5971373/40967007-4a22f25a-68b2-11e8-89bf-53bf05e8dd8b.png)

[2018-06-05 16:46] jdorfman commented on #1160
@solution7 Can you please fill out this form so we can debug the issue? https://goo.gl/forms/u2SFZS44ZGIM7yP82

[2018-06-05 19:39] #1140 closed

[2018-06-06 05:55] adrianreber commented on #1061
One more experiment from my side:

[code]

If I ping that IP address with a size larger than 1444:

[code]

The routing cache gets updated with the pmtu:

[code]

Once the routing cache contains this information I do not see any timeouts accessing that IP address.

[2018-06-12 08:58] sanjaygovindan commented on #790
@petarpetrovic  - Our corporate proxy is picking up the following:
https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css?ver=3.3.7

![image](https://user-images.githubusercontent.com/19772737/41280271-e21acc1c-6e71-11e8-9ddd-7a58c0845277.png)

[2018-06-12 09:02] XhmikosR commented on #790
@sanjaygovindan: you are commenting on a pretty old issue. Also, personally I can't reproduce so make sure you need every info you can (including browser version obviously)

[2018-06-12 22:06] sanjaygovindan commented on #790
@XhmikosR  - Thanks for the pointers. TBH, it's most likely proxy/filter related on our end. Have asked for the site to be whitelisted. Will see if that works.

[2018-06-17 11:15] wttw commented on #1152
So ... I'm temporarily in europe, and it seems none of my websites load correctly, as loading bootstrap from the CDN times out, traceroute to the ec2 node hosting it loops etc. It's loading fine from US locations. Is this intentional breakage in the name of not having to deal with GDPR, or just an outage?

[2018-06-17 11:29] XhmikosR commented on #1152
Totally irrelevant to GDPR. Check out the issue template and make a new
issue

On Sun, Jun 17, 2018, 14:15 Steve Atkins <notifications@github.com> wrote:

[2018-06-20 22:58] jdorfman opened #1167 "New Page > Themes"
The books page (#1141) isn't bringing in any revenue. I signed up for a new affiliate program with wrapbootstrap.com. I want to start with 4 themes

### 1
**Img:** https://d85wutc1n854v.cloudfront.net/live/products/600x375/WB0N89JMK.png?v=4.1.1
**Title:** Color Admin - Admin Template + Front End
**Affiliate URL:** `https://wrapbootstrap.com/theme/color-admin-admin-template-front-end-WB0N89JMK?ref=

[2018-06-21 14:13] XhmikosR commented on #1167
Isn't it too soon to judge the result?

Also, if we keep adding such pages, it'll become a little bad IMO. We should probably focus on improving the ads conversion first.

[2018-06-21 14:58] jdorfman commented on #1167
It is and it isn't. I would like to A/B test the book and theme pages and see what does better. I have no problem creating the page, I just know you like things done a certain way.

I disagree. I see this as a way to test different ways to generate revenue and share our sustainability efforts with the Open Source community.

[2018-06-28 01:53] sgarringer commented on #1061
How are you guys coming on this?  One of the wordpress plugins we use includes your font.  Any of the sites with that plugin take eons to load.  I ran your commands and emailed them to you.  How is this coming?  Why not just turn off IPv6 until you figure this out?

[2018-06-28 01:57] sgarringer commented on #1061
How are you guys coming on this? One of the wordpress plugins we use includes your font. Any of the sites with that plugin take eons to load.

I ran your commands and emailed them to you. How is this coming? Why not just turn off IPv6 until you figure this out? We've had to disable those plugins for the time being.

[2018-06-28 01:59] jdorfman commented on #1061
Reviewing the debug info, will update you asap.

[2018-06-29 07:00] XhmikosR opened #1168 "npm scripts: automate more new versions addition"
From https://github.com/MaxCDN/bootstrapcdn/pull/1115#pullrequestreview-132619401

[2018-06-29 07:14] #948 closed

[2018-06-29 07:28] XhmikosR commented on #1135
Can we close this? Please see my comment above.

[2018-06-29 07:39] XhmikosR commented on #1167
@jdorfman Why `no-follow`?

[2018-06-29 07:58] XhmikosR commented on #1167
Also, should we add `nofollow` in other places too?

[2018-06-29 15:01] XhmikosR opened #1173 "Reduce mocha's timeout"
The only tests that might take a long time are the HTML validation ones. The CDN responses shouldn't take 15 seconds, which is what we currently set in mocha.

[2018-06-30 15:13] jdorfman opened #1176 "Localization (l10n)"
While checking the analytics I noticed some using Google Translate.

![image](https://user-images.githubusercontent.com/398230/42126356-02faac04-7c3c-11e8-888a-215b3af5a411.png)

Core Value no. `3` is accessibility so I think we should be actively looking for contributors who can help translate the site to `X` language.

Here are top languages via Google Analytics

![image](https://user-images.git

[2018-06-30 15:46] XhmikosR commented on #1176
No idea to be honest. Also, I'm personally against it. Our target audience is very specific. And you just can't be a developer without basic English knowledge.

[2018-06-30 16:02] jdorfman commented on #1176
You are correct. I installed [this](https://chrome.google.com/webstore/detail/advanced-page-language-sw/mhgjlbolkmcookadjpolimbddngjgbol?hl=en) and tried GitHub and SO and they both didn't redirect to the language (tried `DE`) while Stickermule.com did.

[2018-06-30 16:02] #1176 closed

[2018-06-30 16:23] #1100 closed, assigned to XhmikosR

[2018-07-01 19:40] XhmikosR opened #1180 "Fix canonical URL and og:url"

[2018-07-04 14:45] jdorfman commented on #1061
Did you fill out the debug form? That info goes straight to the StackPath team.

[2018-07-04 14:45] yugandhar91 commented on #1061
Yes, I did 3 days ago.

[2018-07-04 14:52] jdorfman commented on #1061
Thanks and sorry for the inconvenience. We are as frustrated as you.

[2018-07-04 17:56] jdorfman commented on #1061
@yugandhar91 we disabled IPv6 (again), can you please check and report back?

[2018-07-04 18:02] sgarringer commented on #1061
Enabled the plug-in using the font in your cdn... load times are back to <
20ms.

Happy fourth everyone!

On Wed, Jul 4, 2018, 12:56 PM Justin Dorfman <notifications@github.com>
wrote:

[2018-07-04 18:03] jdorfman commented on #1061
@sgarringer thanks for the report. you too =)

[2018-07-04 20:52] yugandhar91 commented on #1061
@jdorfman It is working great now.

[2018-07-04 20:59] sgarringer commented on #1061
The troubleshooting that stackpath wanted me t

On Wed, Jul 4, 2018, 9:52 AM Justin Dorfman <notifications@github.com>
wrote:

[2018-07-06 09:12] #1180 closed

[2018-07-10 15:45] jdorfman commented on #1061
Closing and locking this issue. If you continue to have similar issues please fill out this form so we can debug the issue? https://goo.gl/forms/u2SFZS44ZGIM7yP82

[2018-07-10 15:45] #1061 closed

[2018-07-15 04:49] #1173 closed

[2018-07-16 11:58] diashimself opened #1199 "Successfully installed pyTelegramBotAPI but got Errno 13 and matplotlib 1.3.1 requires nose, which is not installed. matplotlib 1.3.1 requires tornado, which is not installed."
Hi guys! was trying to install pyTelegramBotAPI and got these issues!

matplotlib 1.3.1 requires nose, which is not installed.
matplotlib 1.3.1 requires tornado, which is not installed.

_Installing collected packages: certifi, chardet, urllib3, idna, requests, pyTelegramBotAPI_

Could not install packages due to an EnvironmentError: [Errno 13] Permission denied: '/Library/Python/2.7/site-packages

[2018-07-16 12:01] XhmikosR commented on #1199
How is this related to BootstrapCDN?

[2018-07-16 13:21] lonix1 opened #1200 "Font awesome 5.1.0"
Will this latest 5.x version of FA be supported?

[2018-07-16 16:51] jmervine commented on #1200
@lonix1 There has been some discussion on that in https://github.com/MaxCDN/bootstrapcdn/pull/909, it looks like the tides were leaning towards yes, but I don't think it's a priority and needs some some UI work to do it in a way that makes sense.

Sorry for the "no answer, answer", but that's kind of where we're at on it, last I discussed with the team.

[2018-07-16 17:11] lonix1 commented on #1200
thanks, I'll comment there

[2018-07-16 17:11] #1200 closed

[2018-07-31 10:54] vinaymorkar opened #1203 "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css 0 () (index):638"
Failed to load resource: net::ERR_CONNECTION_RESET

[2018-07-31 11:11] XhmikosR commented on #1203
If this is a CDN service related issue (timeouts, slowness, ssl), please fill out this form so we can debug it: <https://goo.gl/forms/u2SFZS44ZGIM7yP82>

[2018-09-21 07:41] solution7 opened #1219 "How to sort parent table by relational table without join"
I want to sort users table by profiles table column with relation, i don't want to use join query

eg.
users table fields: id, email
profiles table fields: id, user_id, first_name, last_name

when I get users with profiles, want to sort it by profiles.last_name without join query

[2018-09-21 07:43] #1219 closed

[2018-09-21 14:56] #1203 closed

[2018-09-21 14:56] #1199 closed

[2018-10-01 20:19] jdorfman opened #1221 "Add codefund "bottom banner" ad code"
Embed the following script into your website and create a `div` with `id="codefund_ad"`

[code]

It will look like this:
![image](https://user-images.githubusercontent.com/398230/46313373-8e5ee380-c57c-11e8-8085-a7e4cdf1695f.png)

via: https://sweetalert2.github.io/

This will add another ~$200 a month to our OC.

[2018-10-08 17:00] XhmikosR commented on #1221
Looking at it.

[2018-10-30 08:08] XhmikosR commented on #1168
Closing this since it's as simple as I could make it for the time being.

[2018-10-30 08:08] #1168 closed

[2018-10-30 08:09] XhmikosR commented on #998
@petarpetrovic: is this now possible? Maybe we should switch to CDN4?

[2018-10-30 08:10] XhmikosR commented on #960
ping @petarpetrovic. This is just one DNS entry change.

[2018-10-30 08:11] XhmikosR commented on #1135
Ping @jmervine ^^

[2018-10-30 08:12] XhmikosR commented on #1109
@jmervine: did you disable the CI check requirement for deployments? If so maybe we can close this.

[2018-10-31 06:39] XhmikosR commented on #998
This is now done, 🕺

[2018-10-31 06:39] #998 closed

[2018-11-02 12:53] XhmikosR commented on #1017
Perhaps we should also remove the `ETag` header while at it. We already set a proper `cache-control` header, not sure if the `ETag` one has any value.

[2018-11-04 00:36] dvwright opened #1231 "Access to font blocked by CORS policy"
Hi, I started receiving these message a few days ago.
[code]
Synopsis:

[code]

Is 3.3.7 still supported? Maybe it's time to switch to 4.

[2018-11-04 06:30] XhmikosR commented on #1231
Weird, I can see the ACAO header there

[code]

1. browser/OS?
2. does this happen consistently?

[2018-11-04 17:43] dvwright commented on #1231
macOS High Sierra version 10.13.6
Chrome Version 70.0.3538.77

Interesting, I just did an empty cache and hard reload and all is working as expected now, no error messages. Thanks

[2018-11-04 17:43] #1231 closed

[2018-11-14 17:56] #1221 closed

[2018-11-15 03:18] #960 closed

[2018-12-04 13:24] #1030 closed, assigned to nobody

[2018-12-04 16:35] #1012 closed

[2018-12-04 16:38] bripkens commented on #1012
Thank you @XhmikosR!

[2018-12-07 20:10] XhmikosR opened #1247 "Bootswatch 3 Solar theme is 404"
@thomaspark: did you remove that?

[2018-12-09 03:03] #1134 closed

[2018-12-09 03:03] #1109 closed

[2018-12-09 20:39] #1038 closed

[2018-12-11 19:47] thomaspark commented on #1247
@XhmikosR, yes, Solar was not included in an official release for v3.

[2018-12-11 19:48] XhmikosR commented on #1247
You mean in the last release because it was definitely there.

@jmervine how do you want to proceed?

[2018-12-12 19:21] #1036 closed

[2018-12-17 23:46] jdorfman opened #1253 "Update Ad Code"
New CodeFund Ad code:

[code]

[2018-12-21 17:21] jdorfman opened #1255 "4.2.0 Tasks"
- [x] Sync to S3 (@jdorfman)
- [x] Update site (@XhmikosR)
- [x] Run Scripts (@jmervine)

[2018-12-21 19:17] jmervine commented on #1255
@jdorfman
1. Looks like the site has already been updated on #1256.
2. I've already run the script on 4.2.0, but I'll run it again.
3. Looks like I need to run on 4.2.1 as well using #1256

[2018-12-21 19:18] jmervine commented on #1255
Oops, I ran it on '3.2.0'. Running on '4.2.0' now and then on '4.2.1'.

[2018-12-21 19:18] jmervine commented on #1255
Note for the future, running the script also uploads the files, so no need to do that separately.

[2018-12-21 19:19] jmervine commented on #1255
Done.

[2018-12-21 19:20] jmervine commented on #1255
I'll let you close this when you're confident it's done.

[2018-12-21 19:42] #1255 closed

[2018-12-24 17:49] DmMhs commented on #1203
I have same problem with 3.3.7 version and my website. And I also have this problem with bootstrap cdn site (https://www.bootstrapcdn.com/). I can see no styling - just bold html structure. Error messages:
codefund.io/scripts/c6a10903-6a7f-435b-92b2-99c9c9ce3379/embed.js?target=codefund&theme=bootstrapcdn:1 Failed to load resource: net::ERR_BLOCKED_BY_CLIENT
stackpath.bootstrapcdn.com/bootswatch/4

[2018-12-24 17:51] XhmikosR commented on #1203
https://github.com/MaxCDN/bootstrapcdn/issues/1203#issuecomment-409183727

[2018-12-28 21:38] #1253 closed

[2019-01-10 16:59] XhmikosR commented on #1247
@jmervine ping for feedback. We could just remove it from the frontend and keep the files in the CDN.

[2019-01-11 17:37] XhmikosR opened #1264 "Adjust `/bootlint/latest/bootlint.min.js` cache-control header"
We should make `https://stackpath.bootstrapcdn.com/bootlint/latest/bootlint.min.js` not have a 1 year cache-control control header since it changes.

Do we have other files like that?

Also, note that currently it points to the old version (0.15.1).

[2019-01-24 23:24] jdorfman opened #1266 "StackShare Awards"
The 5th Annual StackShare Awards are almost here! 🎉 To vote for [Bootstrap](https://stackshare.io/bootstrap), show some love by creating or updating your stack by next week, Tuesday January 29th at 11pm PST

https://stackshare.io/bootstrap

![speedup-screen-recording-2019-01-23-at-04 42-pm](https://user-images.githubusercontent.com/398230/51715011-f170fc00-1feb-11e9-99dd-65517da2eadd.gif)

[2019-01-26 09:51] Onore opened #1267 "Bug with CDN and compression in Chrome"
Hello.

1. https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css
DevTools Network download **without compression 150 Kb**
PageSpeed Lighthouse -- 20Kb

2. https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css
DevTools Network download -- 20 Kb
PageSpeed Lighthouse -- 20Kb

3. https://getbootstrap.com/docs/4.2/dist/css/bootstrap.min.css
The same  as

[2019-01-26 09:52] XhmikosR commented on #1267
Not sure what you mean?

[2019-01-26 10:05] Onore commented on #1267
![Image of Bug](https://techhome.kiev.ua/bug.jpg)

[2019-01-26 10:08] XhmikosR commented on #1267
I can't see it being sent uncompressed here.

[code]

Try the above command 3-4 times just in case it's uncached otherwise:

[2019-01-26 10:15] Onore commented on #1267
1. I have disabled cache in DevTool
2. If Chrome works like shown in screenshot above any test (without Chrome) does not matter.
I dont know how, but simple way is a measure the traffic of page by 3-d party tools and result in devtools

[2019-01-26 10:16] XhmikosR commented on #1267
Well, unless you follow the above, there's nothing I can do.

[2019-01-26 10:16] XhmikosR commented on #1267
Also, with cache I'm referring to the POP's cache. gzip doesn't happen on the first request.

[2019-01-26 10:35] Onore commented on #1267
I dont know about POP`s, sorry.
But you can reproduce the problem on you pc in less than 5 minutes.
**Or do you have not the same result like in my screenshoot?**

[2019-01-26 10:44] XhmikosR commented on #1267
No, I can't reproduce hence why https://github.com/MaxCDN/bootstrapcdn/issues/1267#issuecomment-457818881

Please do the above.

[2019-01-26 11:42] Onore commented on #1267
TP/2 200
date: Sat, 26 Jan 2019 11:39:45 GMT
accept-ranges: bytes
etag: "1545419987"
content-encoding: gzip
content-length: 22972
 content-type: text/css; charset=utf-8
last-modified: Fri, 21 Dec 2018 19:19:47 GMT
x-hello-human: Say hello back! @getBootstrapCDN on Twitter
access-control-allow-origin: *
vary: Accept-Encoding
x-cache: HIT
timing-allow-origin: *
cache-control: public, max-age=3153600

[2019-01-26 12:43] XhmikosR commented on #1267
As you can see from your output, it is compressed.

[2019-01-29 21:16] sahin commented on #1266
+1

[2019-01-30 18:39] jdorfman commented on #1266
Winners: https://stackshare.io/posts/top-developer-tools-2018

[2019-01-30 18:39] #1266 closed

[2019-01-30 18:49] jdorfman opened #1268 "We won a StackShare Award"
test

[2019-01-30 18:54] #1268 closed

[2019-02-01 13:41] Onore commented on #1267
Ok ) But I said that Chrome think differently. @DevTools Network download without compression 150 Kb@

[2019-02-01 13:42] XhmikosR commented on #1267
Well, in that case

[2019-02-14 13:46] XhmikosR commented on #1247
Closing since the new 3.4.1 version won't have this. Though I still don't get how we have the files in the first place...

[2019-02-14 13:46] #1247 closed

[2019-02-24 11:34] markcarver opened #1281 "JSON API missing bootswatch & bootlint"
Hello again 😄

I originally opened #460 a while back and from that, y'all ended up creating:

https://www.bootstrapcdn.com/data/bootstrapcdn.json

This has been fantastic but given the recent changes/overhaul I've been doing in https://www.drupal.org/project/bootstrap/issues/3031415, I'm realizing this data is rather incomplete.

It doesn't contain any of the other package data that this CDN provi

[2019-02-24 11:48] XhmikosR commented on #1281
I don't think we ever cared about other packages.

[2019-02-24 11:50] markcarver commented on #1281
Maybe so, but given that this is technically a separate CDN and jsDelivr's API no longer provides this info (it used to: https://api.jsdelivr.com/v1/bootstrap/libraries), the ability to determine what this CDN actually provides has been lost.

[2019-02-24 11:51] XhmikosR commented on #1281
I will consider if it's worth bothering with.

[2019-02-24 11:55] markcarver commented on #1281
FWIW, I cannot imagine it'd be that difficult to implement given that everything is pretty much already there (config wise)... the missing packages just need to be connected into the existing route.

[2019-02-24 11:57] XhmikosR commented on #1281
The problem isn't the implementation, obviously.

The problem is this data file is used by other stuff too, like the WP plugin which hasn't been updated for years, nor tested. And I don't want to break that.

[2019-02-24 12:25] markcarver commented on #1281
https://plugins.trac.wordpress.org/browser/bootstrapcdn/trunk/bootstrapcdn.php#L437

Specifically checks/extracts data for `$cdn_data['bootstrap']` and `$cdn_data['fontawesome']`.

Since these would only be additive (new/separate packages), it shouldn't affect that code in the slightest.

I imagine that if they were to have any issues, it'd actually likely be the [outdated URL](https://plugins.tra

[2019-02-24 13:23] XhmikosR commented on #1281
Still, I need to check with the other people, so please wait until then.

Otherwise I have no problem adding this.

[2019-02-25 00:15] jmervine commented on #1281
It seems like a fairly simple update. I don’t have an issue with it.

@jdorfman ?

[2019-02-25 18:41] XhmikosR opened #1283 "Revisit JSON entries"
1. We don't list Bootstrap >= 4. Maybe we should revisit this? Not sure how breaking it can be
2. Add SRI hashes. This unfortunately will change the output format for Font Awesome, Bootlint and Bootswatch because we need a key for each one. So if we are going to go this way, better do it in #1282

/CC @jdorfman @jmervine for thoughts

[2019-02-26 18:48] XhmikosR commented on #1281
@markcarver: please check #1282 and https://bootstrapcdn-dev-pr-1282.herokuapp.com/data/bootstrapcdn.json

[2019-03-06 18:16] fuzzy76 opened #1289 "Dark variant"
Some elements (like the hamburger menu icon) won't adapt to dark colors without a recompile. Would it be possible to host a dark variant of bootstrap?

[2019-03-06 20:25] XhmikosR commented on #1289
We only host vanilla, i.e. unmodified builds of Bootstrap, Bootswatch, etc.

So, I don't think this is something that falls into this project. If such build is made officially available upstream, then we'll also have it.

I hope this solves your question :)

[2019-03-06 20:25] #1289 closed

[2019-03-11 09:44] XhmikosR opened #1295 "Short-term TODO"
1. Update `html-validator` to the latest version
2. Remove any `*sync` node.js functions from the codebase, apart from `fs.existsSync`
3. fix the newly introduced issues when running `npm run xo` in `develop-xmr-xo` branch

/CC @johann-s

[2019-03-12 15:08] XhmikosR opened #1301 "Switch to static for frontend"
This is something we discussed internally on Slack, but I'd like us to come to a consensus before I start working on it.

1. We can still use Heroku as long someone sets up branch/PR previews. Not sure if we can control the response headers with Heroku. An alternative is Netlify which allows us to do redirects, customize the headers, etc.
2. Which tool should we use? I personally like tools with l

[2019-03-12 15:37] Johann-S commented on #1301
An other solution would be to use a framework like React with Gasby for example, we'll find the same advantages:
 - The JSON can be imported like a JS file: `import data from 'data/bootstrapcdn.json`
 - About testing it: https://www.gatsbyjs.org/docs/unit-testing/
 - To generate SRI hashes: https://www.gatsbyjs.org/packages/gatsby-plugin-sri/
 - SASS: https://www.gatsbyjs.org/packages/gatsby-plugi

[2019-03-12 15:52] XhmikosR commented on #1301
I personally don't like React and co, because a site IMO shouldn't need JS to operate in a basic form.

When I say static, I personally mean really static, well except the collapsed panes we have.

[2019-03-12 16:06] Johann-S commented on #1301
I can understand, the main feature with React and co, it's you can create dumb components which can be used accross your website, it's very usefull when you have contents which look the same or with some differences

[2019-03-12 16:19] XhmikosR commented on #1301
Which I can already do with CSS and HTML :)

[2019-03-14 15:57] jdorfman opened #1304 "Test"
Testing 03-14-2019

[2019-03-14 15:58] #1304 closed

[2019-03-15 18:29] robbiecren07 opened #1305 "The canvas has been tainted by cross-origin data"
I have a wordpress site at http://www.robbiecdesigns.com/ with theme Oshine, and after installing W3 Total cache and setting up CDN with stackpath - when ever i have the CDN enabled, on the homepage i get a console error for a .js file:

backgroundcheck.min.js:1 Uncaught DOMException: Failed to execute 'getImageData' on 'CanvasRenderingContext2D': The canvas has been tainted by cross-origin data.

[2019-03-15 20:50] XhmikosR commented on #1305
That's definitely unrelated to BootstrapCDN, sorry.

[2019-03-15 20:50] #1305 closed

[2019-03-15 20:56] robbiecren07 commented on #1305
Can you please explain why it’s unrelated? The error is only shown when I
have StackPath CDN enabled. Is this not a stackpath thread?

On Fri, Mar 15, 2019 at 4:50 PM XhmikosR <notifications@github.com> wrote:

--
Thanks,
Robbie Crenshaw
RobbieC Designs
www.robbiecdesigns.com
252.723.6871

[2019-03-15 21:00] XhmikosR commented on #1305
Because from what you showed here, these errors are from other files, not our CDN.

We are not StackPath's own CDN; we use StackPath's infrastructure, so completely different.

They have their own support you can use.

[2019-03-20 08:48] gsffj89 opened #1306 "@styfle yes it is on the CDN already. Just waiting for @XhmikosR to get back to a keyboard to update the site."
/*!
 *  Font Awesome 4.2.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */@font-face{font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot?v=4.2.0');src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('wo

[2019-03-20 08:49] XhmikosR commented on #1306
Not sure what's the point of this issue?

[2019-03-25 10:29] XhmikosR commented on #1306
Closing as irrelevant.

[2019-03-25 10:29] #1306 closed

[2019-03-25 10:31] XhmikosR commented on #1267
Closing since like I mention above, the only way for such issues to be solved is for the Google Form to be filled with the needed info. And also I can't reproduce it here.

Keep in mind that you might hit an edge case, where the origin you are hitting (hence why I insist for the form info) might not have the gzipped file on first request, but will have it after a couple of requests and then it'll

[2019-03-25 10:31] #1267 closed

[2019-04-01 21:55] marc-medley opened #1312 "bootstrapcdn.com/bootswatch "Active!" color does not match example image."
**Issue**

"Active!" example colors on https://www.bootstrapcdn.com/bootswatch do not match the example thumbnail image.

**Steps**

Click a "Try it!" button. For example, United https://www.bootstrapcdn.com/bootswatch/?theme=19

![Bootswatch_Active!](https://user-images.githubusercontent.com/15098151/55361520-4584da80-548c-11e9-9052-76256eabd0dd.png)

**Expected Behavior**

Expected the color sch

[2019-04-02 05:51] XhmikosR commented on #1312
Yes, that's normal because the theme we use might not be the exact default.

[2019-04-02 05:54] XhmikosR commented on #1312
Let me rephrase that.

The classes we use in our pages, are not the same as the ones used in the upstream screenshots. Like you said, we use `bg-dark` in some cases and so on.

[2019-04-02 17:03] marc-medley commented on #1312
`bootswatch.com` appears to be consistant with the expected Bootswatch theme default. While `bootstrapcdn.com` does not.

Is it then also intentional that the _same Bootswatch theme_ top navigation is different between `bootstrapcdn.com` and `bootswatch.com`?

* https://www.bootstrapcdn.com/bootswatch/?theme=19 (United)
* https://bootswatch.com/united/

[2019-04-02 17:04] XhmikosR commented on #1312
Yes, it's what I explained above.

[2019-04-02 17:05] XhmikosR commented on #1312
I could change this for the non-default theme. /CC @jdorfman @jmervine

[2019-04-23 04:50] Tehnikal commented on #1312
прост для себя разбераюсь ,изучаю всё с нуля так сказать )

[2019-05-26 21:36] XhmikosR commented on #1312
I'm not sure how to proceed with this. What we do now makes perfect sense to me. I do see how it might be confusing for end users, though.

[2019-05-27 02:38] marc-medley commented on #1312
I had opened this issue as a "confused end user". It took some  to understand why a page I created did not match the online examples page.

After some review of the code, i discovered the impact of choices like "bg-dark" vs. "bg-primary", "navbarColor02" vs. "navbarColor01", etc. on the bootswatch. (This becomes more obvious in retrospect.)

I was preparing a page for presentation which only chang

[2019-07-02 16:43] OlympicLarry commented on #731
Any reason why I am seeing http/1.1 now?

[2019-08-01 17:31] jdorfman opened #1352 "New Sponsor"
**Name:** EduBirdie
**Link:** https://edubirdie.com/

**Notes:**
* MUST remove `no-follow`
* Length 2 months

**Mockup:**

<img width="637" alt="Image 2019-08-01 at 10 30 08 AM" src="https://user-images.githubusercontent.com/398230/62314276-7f201f00-b447-11e9-8468-c23b9652c760.png">

**OC donation:**

![image](https://user-images.githubusercontent.com/398230/62313931-c0fc9580-b446-11e9-9024-f56746

[2019-08-02 08:48] XhmikosR commented on #1352
I'll need someone to remind me about the 2-month duration.

[2019-08-02 09:31] Johann-S commented on #1352
Maybe we should use OpenCollective API, instead of having to keep that in mind

[2019-08-02 09:33] XhmikosR commented on #1352
The thing is that the footer links aren't really sponsors right now. I'm all for automating this, though.

[2019-08-02 16:36] jdorfman commented on #1352
@XhmikosR I have a calendar event set for 2 months from today

[2019-08-02 17:12] #1352 closed

[2019-09-05 10:07] XhmikosR opened #1359 "Switch to GitHub Actions"
@jdorfman @jmervine can you guys sign up for https://github.com/features/actions ?

I'd prefer it if we just used GH Actions CI and removed any third-party services.

[2019-09-05 15:35] jmervine commented on #1359
[code]

[2019-09-05 15:38] XhmikosR commented on #1359
Thanks! Do let me know when it's activated.

[2019-09-05 16:14] jdorfman commented on #1359
Apparently I have it I just can't enable it on this org

![image](https://user-images.githubusercontent.com/398230/64359582-7ded8f00-cfbd-11e9-8cc4-0d6b0f4fcafe.png)

[2019-09-05 17:03] jmervine commented on #1359
I was able to select the MaxCDN org.

[2019-09-30 10:04] #1359 closed

[2019-10-01 10:29] mkamranhamid opened #1368 "Is bootstrap CDN down?"
I'm trying to access [bootstrap cdn](https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css) but not able to also i didn't have the backup plan for bootstrap so all my websites are pretty messed up. Can anyone please explain whats going on

[2019-10-01 10:31] XhmikosR commented on #1368
Works fine here. Please fill in https://goo.gl/forms/u2SFZS44ZGIM7yP82

[2019-10-01 10:45] mkamranhamid commented on #1368
I'm currently using phone I'll fill this form asap I reach workstation because it requires to perform some `curl` commands

[2019-10-01 11:07] mkamranhamid commented on #1368
Submitted the form

[2019-10-02 04:13] mkamranhamid commented on #1368
Closing it because it was a downtime for a small time and now working fine.

[2019-10-02 04:13] #1368 closed

[2019-10-14 13:04] XhmikosR opened #1377 "Investigate adding `readonly` attribute to the text inputs"
https://github.com/MaxCDN/bootstrapcdn/pull/1372#issuecomment-541656991

[2019-10-16 14:35] #1377 closed

[2019-11-27 07:26] shhdharmen opened #1421 "SUGGESTION: Add query params for colors"
For example, if I hit: `https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css?primary=%23b11e29` (note query param: **?primary=%23b11e29**), it will load compiled bootstrap themed css file with primary color as #b11e29.

[2019-11-27 07:32] XhmikosR commented on #1421
Sorry, I don't see us implementing such thing right now.

You are welcome to submit a PR, assuming it doesn't open the doors to XSS

[2019-11-27 07:39] XhmikosR opened #1422 "Add tests for `/bootlint/latest`"

[2019-11-27 07:40] XhmikosR opened #1423 "Migrate GitHub templates to the new format"

[2019-12-01 11:41] shhdharmen commented on #1421
Ok. I am not sure how to do that, I will check and submit a PR. Closing this for now.

[2019-12-01 11:41] #1421 closed

[2020-02-10 07:55] tech-mnet opened #1454 "ISsues with Bootstrap"
Dear Stackpath /MaxCDN Team/Bootstrap Team ,
At the onset allow us to introduce ourselves .
We are M-Net Fiber Fast AS132960 , an ISP in North East India. We have written to you many times but our queries have not
been resolved and our esteemed End Customers are facing this issues and as a prominenet player in the IT Space,
I am sure you will understand , how important is providing Impeccable Serv

[2020-02-10 10:09] XhmikosR commented on #1454
Hello.

I was told by StackPath support team that there's an internal issue tracking this. You should get a reply from them there.

[2020-02-11 18:01] XhmikosR opened #1456 "Replace request dev dependency with something else"
[code]

[2020-02-24 23:04] nCubed opened #1463 "Where can the integrity value of a v3.3.7 Bootswatch theme be found?"
We are using a 3.3.7 Bootswatch theme served up from the CDN, using an integrity attribute:

` <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css" integrity="sha384-awusxf8AUojygHf2+joICySzB780jVvQaVCAt1clU3QsyAitLGul28Qxb2r1e5g+" crossorigin="anonymous">`

We would like to use the "slate" theme:

`<link rel="stylesheet" href="https://maxcdn.boots

[2020-02-25 07:07] XhmikosR commented on #1463
You can use https://www.srihash.org/ for this.

[2020-02-25 07:07] #1463 closed

[2020-02-25 07:08] XhmikosR commented on #1463
Or do it manually:

[code]

[2020-02-28 08:20] whthT opened #1472 "Display: Swap Support On @font-face's"
Hi. Is there a chance to support `font-display:swap` rule for font-awesome font faces or some font faces using in bootstrap like [Google Fonts](https://fonts.google.com/?selection.family=Spartan).

![Screenshot from 2020-02-28 11 16 27](https://user-images.githubusercontent.com/5617385/75522877-06546600-5a1c-11ea-99bb-a5660d770655.png)

[2020-02-28 09:46] XhmikosR commented on #1472
Not really, no. You should ask for this upstream; we only host the files, unmodified.

[2020-02-28 09:46] #1472 closed

[2020-03-04 09:45] tech-mnet commented on #1454
WE have got no reply . Pls check and revert

[2020-03-04 11:20] XhmikosR commented on #1454
Well, I don't want to play the middleman here. They tell me, you don't reply on their emails.

You should really take it up with StackPath's support and make sure you reply to their emails. There's nothing we can do here (we are not StackPath ourselves, and the issue has been forwared to them and in turn they have tried to contact you multiple times).

[2020-03-04 11:20] #1454 closed

[2020-03-04 11:25] tech-mnet commented on #1454
Hi,

PFB Thier Response .

On 04/03/20 4:50 pm, XhmikosR wrote:

[2020-04-01 13:03] mikewest opened #1495 "Consider asserting a `Cross-Origin-Resource-Policy`?"
Hey folks! Hopefully this is a reasonable repository for requests like this one. :)

[`Cross-Origin-Resource-Policy`](https://fetch.spec.whatwg.org/#cross-origin-resource-policy-header) (CORP) is an HTTP response header that asserts a scope in which a given resource is allowed to be embedded. Today, the default for all resources is to allow cross-site loads, which unfortunately creates the conditi

[2020-04-01 13:41] XhmikosR commented on #1495
Hey, @mikewest. We can add it no problem. I'm wondering though, has anyone else added this already out there?

[2020-04-01 14:26] mikewest commented on #1495
I understand your risk-aversion, and it's not unreasonable. This _should_ be a no-op for browsers generally, and I'm poking folks at CDNs, large and small. It's not a change you need to make tomorrow, and waiting for someone else to go first is probably fine. But I expect folks who rely on your CDN will start asking y'all to roll out CORP as browsers begin restricting `SharedArrayBuffer` and other

[2020-04-01 14:33] XhmikosR commented on #1495
@jdorfman @jmervine thoughts?

[2020-04-01 15:22] jmervine commented on #1495
No strong opinions, but this isn't really my area. If it's a noop and fairly straightforward to implement, seems reasonable.

[2020-04-01 16:15] jdorfman commented on #1495
@mikewest thanks for thinking of us =)

@XhmikosR yes, let me know what I need to do to get this going.

[2020-04-01 16:22] XhmikosR commented on #1495
@mikewest @jdorfman

[code]

I have a branch pending to add the header to the required ones.

[2020-04-01 16:26] XhmikosR commented on #1495
So, let me know how to proceed and I'll publish the changes to the CDN and merge #1496.

[2020-04-01 18:59] XhmikosR opened #1497 "Enable x-content-type-options for CSS and JS files"
We should discuss adding this to CSS and JS files.

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Content-Type-Options

It seems Google does it for their CDN:

[code]

[2020-04-01 19:03] XhmikosR opened #1498 "Enable x-xss-protection"
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-XSS-Protection

@ScottHelme WDYT about this and #1497?

[2020-04-01 19:04] XhmikosR commented on #1017
This is something I'd like to sort soon too

[2020-04-01 19:05] ScottHelme commented on #1498
The XXP header is no longer useful as the XSS Auditor/Filter in mainstream browsers have been deprecated. I wouldn't recommend enabling this header now. For more info: https://scotthelme.co.uk/deprecating-xss-reports/

[2020-04-01 19:06] ScottHelme commented on #1497
This seems like a reasonable suggestion 👍

[2020-04-01 19:09] XhmikosR commented on #1498
Thanks for the reply!

I guess I'll drop this then. Can you also chime in in #1017 please?

[2020-04-01 19:12] XhmikosR commented on #981
@jdorfman @jmervine is this issue still valid?

[2020-04-01 19:13] mikewest commented on #1495
Wow, that was pretty fast!

As I said above, I expect this to be a no-op for your users today. If you don't want to just blindly trust someone who filed an issue on the internet (wise!), you can test that assertion before shipping it by loading the resource in some page somewhere in recent Firefox, Chrome, and Safari browsers. All of these support `Cross-Origin-Resource-Policy`, and should treat t

[2020-04-01 19:21] XhmikosR commented on #1495
Hey, you are not a random person, but point taken 😛 Either way this was a temp test, I haven't enabled the header yet. 🙂

Is there a sample ready page I could use to test this working/failing?

[2020-04-01 19:47] jdorfman commented on #1495
@mikewest I have to second @XhmikosR, you are a legend, we don't just do this for anyone! Any way we can help make the web faster and safer count us in. We know you have the ability to make stuff happen =)

[2020-04-01 19:53] jdorfman commented on #981
@XhmikosR nah close it

[2020-04-02 05:06] #981 closed

[2020-04-02 05:07] #1295 closed

[2020-04-02 06:41] #1144 closed

[2020-04-02 07:53] mikewest commented on #1495
😊

I put https://mikewest.github.io/scratchpad/maxcdn-bootstrapcdn-1495/ together, which should show that nothing blew up. :)

[2020-04-02 10:34] Malvoz commented on #1497
`x-content-type-options: nosniff` also [enables CORB protection](https://chromium.googlesource.com/chromium/src/+/master/services/network/cross_origin_read_blocking_explainer.md#determining-whether-a-response-is-corb_protected) for the resource types:

[2020-04-02 12:06] #1498 closed

[2020-04-02 12:21] XhmikosR commented on #1495
Thanks for this!

So, to clarify, the header you suggest to make the transition smooth is `Cross-Origin-Resource-Policy: cross-origin`, right? I guess I don't need to test the error case myself since I suppose this will happen if `Cross-Origin-Resource-Policy` is set to something else.

[2020-04-02 13:25] XhmikosR commented on #1497
BTW it seems Google sends the header for all files, which arguably it would be simpler if we did too...

[code]

[2020-04-03 06:39] mikewest commented on #1495
Yes, `Cross-Origin-Resource-Policy: cross-origin` is what you'd apply to resources that ought to be embeddable across the web. I'll add a failure case to the test file, just so you can see it. It's nothing special; the resource simply fails to load. :)

[2020-04-03 06:59] XhmikosR commented on #1495
Thanks!

I had to make some changes for this to work on Firefox 75 and Chrome 80.

<details><summary>index.html</summary>

[code]
</details>

I was getting errors about `s` being redeclared and also only the second `span`'s text changed. I switched to `textContent` too, added `charset` and `lang` while at it.

Now it works fine here with Firefox 75.

[2020-04-03 07:02] mikewest commented on #1495
Obviously I should actually run my test instead of just assuming whatever I typed into devtools will work. :) Thanks for the updates.

[2020-04-03 07:15] XhmikosR commented on #1495
I'm going to add the `Cross-Origin-Resource-Policy: cross-origin` in production later today. I have #1496 which will check for the header in all the CDN files.

[2020-04-03 15:27] #1495 closed

[2020-04-03 15:29] XhmikosR commented on #1497
Does anybody have any objection to adding the header for all filetypes instead for only .css and .js?

[2020-04-03 16:40] jdorfman commented on #1495
@mikewest looks like we are good to go

[code]

[2020-04-03 16:42] jdorfman commented on #1497
nope

[2020-04-03 16:42] jdorfman commented on #1497
@XhmikosR while they are at it, let's remove

`x-hello-human: Say hello back! @getBootstrapCDN on Twitter`

[2020-04-03 16:45] XhmikosR commented on #1497
I made the change myself but I can remove it. Any specific reason?

On Fri, Apr 3, 2020, 19:43 Justin Dorfman <notifications@github.com> wrote:

[2020-04-03 17:52] jdorfman commented on #1497
@XhmikosR I don't check Twitter anymore and so it's wasted bytes over the wire. You dream come true.

[2020-04-04 06:23] XhmikosR commented on #1497
@ScottHelme do you know if setting this for all filetypes can be troublesome? I see Google is doing the same and AFAICT browsers should ignore it for filetypes that doesn't apply.

Setting it for all filetypes is simpler, otherwise I could do it for all filetypes it's needed as long as I have a list 🙂

[2020-04-10 14:47] #1497 closed

[2020-04-18 20:06] #1281 closed

[2020-04-25 05:03] #1422 closed

[2020-04-25 05:04] #1079 closed

[2020-05-13 09:54] uaoleg commented on #790
I'm getting the following error

`NET::ERR_CERT_AUTHORITY_INVALID
Subject: *.bootstrapcdn.com

Issuer: Sectigo RSA Domain Validation Secure Server CA

Expires on: 14 oct 2020

Current date: 13 may 2020`

[2020-05-13 10:54] XhmikosR commented on #790
@XhmikosR please make a new issue with the info filled. Everything seems to work fine here.

[2020-06-01 07:08] gemal opened #1567 "maxcdn.bootstrapcdn.com provides expires certs"
https://www.ssllabs.com/ssltest/analyze.html?d=maxcdn.bootstrapcdn.com&s=2001%3a4de0%3aac19%3a0%3a0%3a1%3ab%3a3b&latest

![image](https://user-images.githubusercontent.com/69105/83384359-683fb580-a3e7-11ea-8c2c-3342bbcfc421.png)

![image](https://user-images.githubusercontent.com/69105/83384365-6aa20f80-a3e7-11ea-81c7-4a94d8e84209.png)

[2020-06-01 07:13] XhmikosR commented on #1567
Thanks for the issue and sorry for this issue. I deferred the issue to StackPath's support team, and it should be fixed soon.

[2020-06-01 16:24] jdorfman commented on #1567
Working with StackPath, I got no alert, this was automated, trying to figure out why it didn't auto-renew. Unacceptable.

[2020-06-01 17:50] jdorfman commented on #1567
Ok after some investigating the issue was with the root certificate provider (Comodo). The issue has been fixed. We are waiting on a post-mortem from StackPath to address future steps on how to avoid this in the future.

Don't close this issue until then. Thanks.

[2020-06-26 23:39] #1567 closed

[2020-06-26 23:42] jdorfman opened #1588 "This is a test"
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qu

[2020-06-26 23:47] #1588 closed

[2020-08-17 13:05] redbirdisu opened #1610 "Font Files for Bootstrap3.3.6 are throwing CERT Error"
This is what Chrome tools are showing.

GET https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/fonts/glyphicons-halflings-regular.woff2 net::ERR_CERT_COMMON_NAME_INVALID

Also get errors while loading CSS and JS but they seems to go away after a while.

[2020-08-20 00:23] jdorfman commented on #1610
Hi @redbirdisu I'm unable to replicate it myself but I am informing StackPath's support team and they will update us asap.

[2020-08-20 15:08] redbirdisu commented on #1610
Seems like it resolved by itself. It could be the intermittent issue with certs. I am closing the issue for now.

[2020-08-20 15:08] #1610 closed

[2020-08-31 12:15] email2hirenshah commented on #574
Getting SSL error when browse https://maxcdn.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js  from latest Firefox browser on Windows 10 machine.

This is happening when I install latest Firefox on a machine where it didn’t existed before.

[2020-08-31 17:30] petarpetrovic commented on #574
Hey @email2hirenshah, sorry to hear that. Could you possibly give me some additional info?

1. What's the exact error message you get when you try to load that URL?
2. Do you get the same error message when you try to load some other URL under that hostname?
3. Could you perform a HEAD request with `curl` or a similar tool and paste the output here? (Like this: `curl -I https://maxcdn.bootstrapcdn

[2020-09-21 22:04] maheshjwagh opened #1622 "Was stackpath.bootstrapcdn.com down or slow over the weekend 19 and 20th Sept 2020?"
Was stackpath.bootstrapcdn.com down or slow over the weekend 19 and 20th Sept 2020?

[2020-09-22 08:02] petarpetrovic commented on #1622
Hello @maheshjwagh, thanks for reaching out! We did have an emergency maintenance last week and it’s likely that a small portion of requests towards BootstrapCDN assets were slow during the weekend at times. The maintenance has been completed and everything should be back to normal now.

For more information, you can refer to this Status Page: https://status.stackpath.com/incidents/mwffm95rtp9p

I

[2021-03-05 17:35] jimaek commented on #1074
Fixed

[2021-03-05 18:45] XhmikosR commented on #1074
Woot, thanks!

[2021-03-05 18:47] XhmikosR commented on #1074
Actually @jimaek can you also set an HSTS header? If SSL is automated we can go with 1 year and preload. so that we can move with #700.

[2021-03-05 18:49] #1074 closed

[2021-03-05 20:33] jimaek commented on #700
Added headers and submitted for inclusion at https://hstspreload.org/

[2021-03-05 20:40] jimaek commented on #750
It's been a few years since 2016 :) Since then we had a good experience enabling HSTS on the CDN domain on jsDelivr without any problems. So I took the liberty to enable it here as well.

[2021-03-06 05:35] XhmikosR commented on #750
Hmm, we might need to update https://github.com/MaxCDN/bootstrapcdn/blob/develop/test/functional_test.js, I'll try to have a look in the next days.

[2021-03-06 05:36] XhmikosR commented on #700
Perfect, closing then !

[2021-03-06 05:36] #700 closed

[2021-03-07 07:32] XhmikosR commented on #954
@jimaek can you please enable DNSSEC too?

[2021-03-07 07:33] #1035 closed

[2021-03-07 11:22] jimaek commented on #954
Honestly I prefer not to. I feel that it's too risky. Using multiple DNS providers would become complicated as well as migrating between different DNS providers, and it adds another point of failure to the system.
I want to keep our systems portable to allow us to move fast in case something happens.

[2021-03-07 14:42] jimaek commented on #1622
We have migrated BootstrapCDN to a new system. If anything looks wrong in the future please open a new Github issue.

[2021-03-07 14:42] #1622 closed

[2021-03-07 14:49] jimaek commented on #1135
While this issue is outdated I think it could be relevant in migration of *.bootstrapcdn.com links to cdn.jsdelivr.net links.
As first step I think a manual review and sending PRs to most popular repos would make sense.

[2021-03-08 11:14] L1ghtn1ng commented on #750
Expected headers will need to be updated

[2021-03-11 07:52] #750 closed

[2021-03-11 07:59] XhmikosR opened #1678 "Investigate CDN tests slowness"
Before it was taking ~40s, now it needs more than 3 minutes with a cache hit, and more than 20 (!) minutes without a cache hit.

[2021-03-11 11:12] jimaek commented on #1678
Today I hope I did the final purge. So tomorrow I will try to test and check if the issue was related to purges or not

[2021-03-11 19:34] jimaek opened #1683 "Design refresh"
![BootstrapCDN](https://user-images.githubusercontent.com/1834071/110843927-2498a700-82a9-11eb-9478-0a89f3dd9805.png)

@jdorfman @XhmikosR @jmervine What do you think?

[2021-03-12 15:11] jdorfman commented on #1683
I think I should have handed the project over to you earlier. Looks amazing. 😍

[2021-03-13 16:23] jimaek commented on #1678
Maybe it was a temp issue at ATH combined with purges that created this issue? I cant replicate it. Locally everything works fast

[2021-03-15 06:10] XhmikosR commented on #1678
The slowness wasn't a POP issue. You could see the CI jobs here taking 20m, 30m or even more. There is definitely something wrong when there's a cache miss, which we didn't have before the switch...

[2021-03-19 15:03] bwsky-a opened #1688 "Adding a new integration"
Hello,
Would it be possible for you to add the following Bootstrap integration to your website?

https://mdbootstrap.com/docs/standard/

If you need any materials or should I add integration somehow, let me know.

[2021-03-20 10:51] jimaek commented on #1688
Hey, we are working on a redesign of the site so we cant add it right now, but we will come back to this once we have made some progress

[2021-03-20 11:56] jimaek opened #1691 "Add bootstrap icons support"
A new page for the icons project. Probably after the redesign and static conversion.

[2021-03-24 14:08] #954 closed

[2021-03-24 14:08] #1055 closed

[2021-03-24 14:09] #1110 closed

[2021-03-25 12:20] #1283 closed

[2021-03-25 12:22] #1423 closed

[2021-06-25 14:17] #1683 closed

[2021-06-25 14:17] #1691 closed

[2021-10-20 21:39] dblackw opened #1738 "bootstrapCDN certificates are showing as not valid"
Looks like the certificate expired 13/10/2021 ...
<img width="303" alt="Capture" src="https://user-images.githubusercontent.com/12490991/138176124-2fed1be2-1508-4c74-9ca2-b92287e225fe.PNG">

[2021-10-20 21:44] jimaek commented on #1738
1. What URL are you hitting?
2. Ping it and tell me the IP address
3. Make sure you have updated your browser and there is no MITM proxies being used

[2021-10-21 03:46] ximsce commented on #1738
Can confirm I'm seeing the https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js expired cert on cashortrade.org's website. I'm guessing it's a bad node, because I went across town and it magically started working again.

[2021-10-21 20:36] dblackw commented on #1738
I switched to Google DNS and they work fine, showing cloudflare certificates now. The  DNS was set to my ISP previously.

[2021-10-21 20:45] #1738 closed, assigned to nobody

[2022-01-06 13:15] cdrx opened #1749 "Who runs `maxcdn.bootstrapcdn.com` and `stackpath.bootstrapcdn.com`?"
Are requests to these (legacy?) domains delivered using the jsDelivr infrastructure, or are these provided by a different CDN?

Is use of these domains covered by the [jsDelivr privacy policy](https://www.jsdelivr.com/terms/privacy-policy-jsdelivr-net)?

[2022-01-06 16:09] jimaek commented on #1749
Hey, we own and control the legacy endpoints as well. And yes the same policy applies.

[2022-01-06 16:10] cdrx commented on #1749
Thanks. Does jsDelivr offer the option for EU based companies to sign a data processing agreement for use of the CDN?

[2022-01-06 16:12] jimaek commented on #1749
Sure, we can help with that. Just email dak@prospectone.io

[2022-01-06 16:13] cdrx commented on #1749
👍

[2022-01-06 16:13] #1749 closed

[2022-03-23 19:49] UsgsMonkey opened #1757 "Blocked by CORS Policy"
Greetings,

Just in the last few days, we've run into issues running our Leaflet-based web portal @ https://hydromaintenance.nationalmap.gov/hmp which makes use of BootstrapCdn due to apparent CORS conflicts ...

![image](https://user-images.githubusercontent.com/26445758/159782503-355b5a2e-9cf6-44c1-8c58-502692b375cd.png)

We are using an older vintage of the library - but this is by necessity si

[2022-03-23 19:51] jimaek commented on #1757
I have a feeling its not a CORS issue. Can you please try to open the file directly and see what you get?
https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css

Do it on the same computer the screenshot came from. Additionally please ping "maxcdn.bootstrapcdn.com" and tell me the IP address you get

[2022-03-23 19:56] UsgsMonkey commented on #1757
It looks like I get a 504 error when I try to hit the CSS directly via Chrome.  Pinging the address gets me the following...

![image](https://user-images.githubusercontent.com/26445758/159784751-e774bb70-5c96-4bab-bafa-f507bb154691.png)

When I try to reach the address outside the VPN firewall, I can reach it successfully - but that doesn't help our website :P

[2022-03-23 19:59] UsgsMonkey commented on #1757
I'm in contact with internal IT.  Hopefully this can be resolved with their assistance.

[2022-03-23 20:00] jimaek commented on #1757
Can you actually traceroute it? And how does the 504 error look like?
Because I think it's a LAN issue on your side, maybe a firewall?

[2022-03-23 20:08] UsgsMonkey commented on #1757
I think you're right.  Good thought on tracert.  I'm forwarding the issue to our IT.  Sorry for the trouble and thanks for the assist.

[2022-05-09 16:16] trish1400 commented on #1152
Hello,

I hope this is the appropriate place to post this.

We use BootstrapCDN (thanks!) and we've just installed Usercentrics as a Consent Management Platform.

It's identified that we are getting data from stackpath.bootstrapcdn.com and Usercentrics has categorised the service as follows:

[code]
My initial instinct was to categorise this BoostrapCDN as essential for the proper functioning of t

[2022-05-09 16:23] jimaek commented on #1152
Hey, you can read more about how we use the data over here https://www.jsdelivr.com/terms/privacy-policy-jsdelivr-net

We also hired a law firm to review our service, you can read more about it over here as well
https://www.jsdelivr.com/blog/how-the-german-courts-ruling-on-google-fonts-affects-jsdelivr-and-why-it-is-safe-to-use/

TLDR: We don't use CDN IPs for advertising. We do use them for techn

[2022-05-09 16:23] #1152 closed

[2022-07-04 16:54] NiKiZe commented on #533
Any update on this? Could I suggest that you reopen this issue until IPv6 is resolved? Or is it some other issue that is still open covering this?

[2022-07-04 17:18] jimaek commented on #533
What endpoint are you talking about? stackpath.bootstrapcdn.com still works over ipv6

[2022-07-04 19:43] NiKiZe commented on #533
I encountered maxcdn.bootstrapcdn.com in the wild where IPvFoo showed v4 while everything else was v6.
Can not reproduce now, so probably a bad cache for some reason. Sorry for the noise.

[2022-09-24 05:21] codehangen opened #1778 "add web components in bootstrapcdn"
Hi all.

I would like to know if it is possible to add bootstrap web components in bootstrap cdn. So... *Is it possible to add bootstrap web components in bootstrapcdn?*

[2022-09-24 08:51] jimaek commented on #1778
Do you have an example of what exactly you want to do?
Thanks

[2022-09-24 09:42] jimaek commented on #1778
The BootstrapCDN at the current stage is a jsDelivr endpoint that pulls files from the official Bootstrap NPM packages.

So I dont understand the question because if Bootstrap is not distributing web components then obviously we cant add them.

But also there is nothing stopping you from using any other web component made by anyone and hosted on Github or NPM since jsDelivr supports both.

The onl

[2022-09-24 10:10] MartinKolarik commented on #1778
@codehangen in that case you're welcome to do it and distribute it as a separate package via npm and jsDelivr.

[2022-09-24 10:26] MartinKolarik commented on #1778
Please see https://www.jsdelivr.com/ - you'll get it on our CDN by simply publishing it to npm.

[2022-09-24 10:36] #1778 closed

[2022-11-27 03:07] abdullahmiraz opened #1787 "navbar resources dropdown menu showing same link for the list item 2 & 3"
![image](https://user-images.githubusercontent.com/39720659/204117398-656ff857-e0b9-44a4-a9be-6554e0f419da.png)
bootstrap icons should redirect to this link: https://icons.getbootstrap.com/

[2022-11-28 12:05] jimaek commented on #1787
Fixed, thanks for reporting

[2022-11-28 12:05] #1787 closed